---
title: eGroups bei Equippers Berlin
aliases:
  - /kleingruppen
  - /berlin/kleingruppen
hero:
  html: <h1>eGroups</h1>
  image: /uploads/egroups-hero.jpg
  image_position: center 25%
email:
  admins: kleingruppe@equippers.de
  subject: equippers.de - Neue eGroup-Anmeldung
egroups:
  -
    id: equip
    name: EQUIP
    leader: 'Jürgen Eisen'
    target: 'Bist du neu bei Equippers? Dann ist das genau die richtige Gruppe für dich. Lerne an 8 Abenden die Vision, Werte und Kultur von Equippers Berlin kennen.'
    short_target: 'alle, die neu sind bei Equippers'
    description: '<br/>Was wir glauben<br/>
Wer wir sind<br/>
Unsere Werte<br/>
Unsere Vision<br/>
Warum du so wichtig bist'
    date_text: 'Mittwoch abends<br/>Vom 2. Oktober bis 18. Dezember'
    location: 'Equippers Berlin Büro'
    lat: 52.4423098
    lng: 13.3160366
    img: juergen.jpg
    email: juergen.eisen@equippers.de
  -
    id: mddunn
    name: 'Tiefer in die Weite'
    leader: 'Dorle und Markus bei Maja und Hans'
    target: 'Alle Menschen, die Interesse haben tiefer hinein zu kommen in die Weite die Gott für ihr Leben verheißen hat'
    short_target: 'alle'
    description: 'Wir wollen gemeinsam essen, beten, lachen,quatschen, uns in den alltäglichen Herausforderungen unterstützen und herausfinden was der nächste Schritt in das Zentrum unserer Berufung ist.'
    date_text: 'montags ab 19.30 Uhr bis 22 Uhr'
    location: 'Berlin - Mitte'
    full: false
    lat: 52.5112417
    lng: 13.4049804
    img: dunns.jpg
    email: 'mddunn@freenet.de'
  -
    id: gebet
    name: 'Gebet'
    leader: 'Jonathan & Patricia'
    target: 'Männer & Frauen jeden Alters'
    short_target: 'alle'
    description: '1 Timotheus 2: 2 & 4: "Am wichtigsten ist, dass die Gemeinde beständig im Gebet bleibt. Betet für alle Menschen; bringt eure Bitten, Wünsche, eure Anliegen und euren Dank für sie vor Gott." & "Denn er will, dass alle Menschen gerettet werden und seine Wahrheit erkennen." Wir wollen vor Gott kommen und bitten, dass sein "Wille geschehe hier auf der Erde, so wie er im Himmel geschieht". Unsere Gebete und Fürbitten haben Kraft und können die Welt um uns verändern. Wir freuen uns mit dir die Kraft Gottes auf die Erde zu bringen!'
    date_text: 'dienstags 20-22 Uhr'
    location: 'Berlin - Steglitz'
    full: false
    lat: 52.4489064
    lng: 13.3538206
    img: jono.jpeg
    email: jonathan.stichbury@equippers.de
  -
    id: gedanken
    name: 'Bible Study „Schlachtfeld der Gedanken“'
    leader: Katharina
    target: 'Frauen jeden Alters, die bereit sind Gott in ihrem Leben/ihrer Gedankenwelt wirken zu lassen'
    short_target: 'Frauen'
    description: '„<i>Denn wie er (ein Mensch) in seiner Seele denkt, so ist er.</i>“Sprüche 23:7<br/>
Unser Denken beeinflusst direkt unser Tun. Deshalb ist es lebensnotwendig, dass wir unsere Gedanken in Einklang mit den Gedanken Gottes bringen.<br/><br/>
In ihrem Buch „Schlachtfeld der Gedanken“ schreibt Joyce Meyer:<br/>
<i>„Sorgen, Zweifel, Verwirrung, Depression, Wut und Gefühle von Verdammnis - das alles sind Angriffe auf unsere Gedankenwelt. Wer sich von diesen Gedanken gefangen nehmen lässt, hat wenig Freude am Leben. Eine ganz neue Welt eröffnet sich uns jedoch, sobald wir lernen, Gedanken bewusst zu wählen und Verantwortung für unsere Denkweise und unsere Worte zu übernehmen.<br/><br/>
Machen Sie sich auf und lernen Sie,<br/>
- zerstörerische Gedankenmuster zu erkennen und sich nicht länger von ihnen beeinflussen zu lassen.<br/>
- Wüstenmentalitäten - also negative Haltungen und hinderliche Ausreden - zu überwinden, sodass Sie wahre Freude und tiefe Erfüllung finden.<br/>
- das Wort Gottes, Lobpreis und Gebet im Kampf gegen negative Denkstrukturen einzusetzen.“</i><br/><br/>
Das ist ein Prozess, der Zeit, Studium und die Bereitschaft, sich Gott zu öffnen erfordert. Jeder für sich und gemeinsam werden wir in einer sicheren Gruppe mit dem Buch von Joyce Meyer arbeiten und erleben, wie Gott Freiheit in unser Denken bringt.<br/>
'
    date_text: '14-tägig, sonntags, 12:30-14:30 Uhr'
    location: 'Berlin - Lichtefelde'
    full: false
    lat: 52.4292871
    lng: 13.3360796
    img: katharina.jpg
    email: katharinastiefelhagen@googlemail.com
_deleted:
  -
    id: benjas
    name: 'Sucht der Stadt Bestes!'
    leader: 'Benjamin und Jasmin'
    target: 'Junge Erwachsene (Frauen und Männer) im Alter von 18-28 Jahren'
    short_target: 'junge Erwachsene, 18-28 J.'
    description: 'In dieser Saison wollen wir für unserer Stadt Berlin einstehen. Wie wird das aussehen? Dich erwarten eGroups-Abende, an denen wir bei guten Snacks und Getränken uns mit dem Thema auseinandersetzen wollen, in unserer Umgebung ein ganz praktischer Segen für Menschen zu werden. Wir wollen für unsere Stadt im Gebet uns Lobpreis einstehen (Natürlich auch für persönliche Anliegen). Als Action-Step wollen wir versuchen alle vier Wochen, als eGroup an einen Ort in der Stadt gehen wo wir sozial-missionarisch anderen Menschen dienen können, wobei eure Ideen und Gedanken dabei essentiell sind. Habt ihr Lust drauf ein kleines bisschen Licht in diese Stadt zu bringen? Dann seid ihr bei uns genau richtig!'
    date_text: 'mittwochs 18.30 Uhr'
    location: 'Kreuzberg'
    full: false
    lat: 52.4946001
    lng: 13.3886218
    img: benjiundjasmin.jpeg
    email: benjamin.mueller@equippers.de
  -
    id: krabbel
    name: 'Krabbelkäfer'
    leader: 'Patricia'
    target: 'Mütter mit (voranging kleinen) Kindern'
    short_target: 'Mütter mit Kleinkindern'
    description: 'Wir wollen nicht nur unseren Minis ein gegenseitiges Kennenlernen ermöglichen, sondern auch als Mamas Zeit für Austausch, Gespräch und Gebet haben. All das in lockerer, offener Runde, zu der gerne immer eingeladen werden kann.'
    date_text: 'mittwochs, 10-12 Uhr'
    location: 'Charlottenburg'
    full: false
    lat: 52.49593
    lng: 13.2957013
    img: lundp.jpeg
    email: 'patricia.stichbury@equippers.de'
  -
    id: frauensport
    name: 'Sportive'
    leader: 'Marion & Patricia'
    target: 'Frauen allen Alters, die Lust auf Bewegung haben'
    short_target: 'Frauen'
    description: 'Kommt bei dir Sport im Alltag auch oft zu kurz? Dann bist du bei uns genau richtig. Wir wollen verschiedene Sportarten ausprobieren: Wandern, Badminton, Boldern, Stand up Paddlen (SUP) etc. Wir freuen uns auf dich!'
    date_text: 'mittwochs, 17-19 Uhr'
    location: 'Süd-Berlin'
    full: false
    lat: 52.4755446
    lng: 13.3647232
    img: marionundpatricia.jpg
    email: patricia.stichbury@equippers.de
  -
    id: fundf
    name: 'Fitness & Friends'
    leader: 'Andreas'
    target: 'Männer'
    short_target: 'Männer'
    description: 'Wir wollen sportlich aktiv sein , damit wir fit sind für das Reich Gottes. Eine tolle Möglichkeit ist Squash, Beach-Volleyball in der Halle und noch vieles mehr.....'
    date_text: 'flexible Termine'
    location: 'Tempelhof'
    full: false
    lat: 52.4576314
    lng: 13.3871785
    img: squash.jpg
    email: andreas.franz@me.com
  -
    id: gebethk
    name: 'Gebetsgruppe'
    leader: 'Katharina & Hanna'
    target: 'Alle'
    short_target: 'alle'
    description: Gemeinsam wollen wir im Himmel die Alarmglocken läuten lassen und für weltbewegende, gemeindespezifische sowie persönliche Anliegen beten.
    location: 'Tempelhof/Zeuthen im Wechsel'
    date_text: 'donnerstags 9.30 Uhr'
    full: false
    lat: 52.4719963
    lng: 13.3700383
    img: hk.jpeg
    email: hanna.zobel@equippers.de
  -
    id: schatzsucher
    name: 'Schatzsucher'
    leader: 'Karin und Roland'
    target: 'Männer & Frauen jeden Alters'
    short_target: 'alle'
    description: 'Die Bibel ist voller Schätze, die nur darauf warten, entdeckt zu werden. Gemeinsam wollen wir uns auf die Suche machen und tiefer "graben". Als Gruppe werden wir uns zunächst auf Themen einigen. Das könnten beispielsweise sein: Freude/Leid, Gottes Liebe zu uns/unsere Liebe zu ihm, altes Leben/neue Schöpfung. Dann werden wir interaktiv und kreativ zusammentragen, was wir dazu in der Bibel finden. Eventuelle Überraschungen mit eingeschlossen... Es soll Spaß machen und vor allem: unser Leben verändern! Und natürlich ist auch Zeit für was uns sonst noch bewegt.</br>Für alle, die Bibellesen schon immer interessant fanden - oder es gerne noch spannender finden würden.'
    date_text: 'donnerstags, 19-21 Uhr'
    location: 'Steglitz'
    full: false
    lat: 52.4298019
    lng: 13.3278247
    img: rolandkaren.jpeg
    email: karin.luke@equippers.de
  -
    id: chill
    name: 'CHILL-TALK-GROW – Stammtisch'
    leader: 'Lina'
    target: 'Männer & Frauen jeden Alters'
    description: 'Du bist neu in der Church oder neu im Glauben an Jesus Christus? Dann bist du bei mir richtig! Wir wollen uns gegenseitig besser kennenlernen und gemeinsam in dem Glauben an Jesus wachsen und uns gegenseitig darin bestärken ganze Sache mit Gott zu machen. </br> Dazu treffen wir uns in einem Café oder Restaurant und werden eine gute Zeit miteinander verbringen.'
    date_text: 'dienstags, 19.15 Uhr'
    location: 'Potsdamer Platz'
    full: false
    lat: 52.509652
    lng: 13.3737554
    img: lina.jpg
    email: 'lina.bartnick@gmail.com'
_template:
  -
    id:
    name: ''
    leader: ''
    target: ''
    description: ''
    date_text: ''
    location: ''
    full: false
    lat:
    lng:
    img:
    email: ''
  -
    id: new
    name: 'Equip-Kurs'
    leader: 'Jürgen'
    target: 'Für alle, die mehr über die Grundlagen und Fundamente von Equippers erfahren möchten'
    short_target: 'alle die neu sind bei Equippers'
    description: 'Wir wollen uns anhand des Equip-Materials mit den Grundlagen unserer Gemeinde beschäftigen und uns dabei auch über deine Gaben und Talente austauschen. Wenn du also noch nicht allzu lang dabei oder ganz neu bist, fühl dich herzlich eingeladen und bringe deine Fragen und Anliegen mit.'
    date_text: 'dienstags, 19.30 Uhr'
    location: 'Süd-Berlin'
    full: false
    lat: 52.4297404
    lng: 13.3276517
    img: juergen.jpg
    email: juergen.eisen@equippers.de
  -
    id: befluegelt
    name: '#Fierce'
    leader: 'Sina und Salome'
    target: 'junge Frauen zwischen 18-27 Jahren'
    short_target: 'junge Frauen, 18-27 J.'
    description: 'Du möchtest entspannt in dein Wochenende starten? Spaßige Abende, an denen wir gemeinsam kochen, Spieleabende oder andere Aktionen planen? Gemeinsam mit anderen Gottes Gemeinschaft genießen, zusammen beten und quatschen? Dann bist Du bei uns genau richtig! Werde ein Teil unserer eGroup! Wir freuen uns auf Dich.'
    date_text: 'zweiwöchig freitags, 19 Uhr'
    location: 'Kreuzberg, Spandau'
    img: sina-salome.jpg
    lat: 52.5346755
    lng: 13.1979155
    email: 'sinaschwenk123@gmail.com'
  -
    id: squashit
    name: 'Squash it'
    leader: 'Andreas und Jonathan'
    date_text: 'zweiwöchig dienstags 18 Uhr'
    description: 'Wir wollen Squash spielen im <a href="http://preussenpark-berlin.de">Preußenpark Berlin</a>, damit wir fit sind für das Reich Gottes. Eine Einheit (Ein Feld für 45 Minuten) kostet 18Euro, die unter den Mitspieler aufgeteilt werden. Danach werden wir gemeinsam essen und füreinander beten.'
    target: 'Männer'
    location: 'Lankwitz'
    lat: 52.4334168
    lng: 13.3566622
    img: squash.jpg
    email: 'jonathan.stichbury@equippers.de'
  -
    id: hannaundjasmin
    name: 'Denn nur zusammen ist man nicht allein'
    leader: 'Hanna und Jasmin'
    date_text: 'dienstags, 19.30 Uhr'
    description: 'Wir lieben es gemeinsam unterwegs zu sein, das Leben miteinander zu teilen. Wie oft hat man heute in dieser manchmal sehr anonymen Gesellschaft das Gefühl, man wäre alleine. ... ist aber nicht so! Weil wenn wir zusammen sind, dann ist keiner mehr allein. Wir möchten zusammen sein, Gemeinschaft haben, reden, quatschen, lachen, wenn’s grad so ist miteinander weinen, füreinander beten und einstehen, einander tragen, ermutigen, herausfordern und unterstützen, da und so wie’s jede einzelne grad braucht. Werde auch du Teil unserer eGroup!'
    target: 'Frauen'
    location: 'Zeuthen'
    email: 'hanna.zobel@equippers.de'
    lat: 52.3492501
    lng: 13.6265115
  -
    id: sb
    name: 'SHAPEBUCKS'
    leader: 'Bastian und Lina'
    target: 'Männer & Frauen jeden Alters'
    description: 'SHAPE ist ein QT-Programm. Wir kommen 14tägig montags um 8h in einem Café in der Stadt zusammen und lesen Teile in der Bibel. Das SHAPE-Programm geht mit uns durch die Textstelle und wir erleben Gottes Reden auf unterschiedliche Art und Weise.'
    date_text: 'zweiwöchig montags 8 Uhr'
    location: 'Berlin-Süd'
    full: false
    lat: 52.4758592
    lng: 13.365071
    img: bastian.jpg
    email: 'bastian.bartnick@equippers.de'
  -
    id: fitvorgott
    name: 'Fit vor Gott'
    leader: 'Benji'
    date_text: 'mittwochs, 19 Uhr'
    description: 'Wir wollen körperlich und geistlich fit werden. Sport gibts draußen im Park, Kraft und/oder Ausdauer. Bierchen und lecker Essen gibts hinterher drinnen. Dabei haben wir Zeit über Themen zu reden, z.B. was uns der gute Matthäus so von Jesus mitgegeben hat. Wir sind Teil der jungen-Erwachsenen-Community von Equippers Berlin und somit wirds ab und zu auch mal community-Abende geben zu denen du herzlichst eingeladen bist.'
    target: 'Männer im Alter von 18-28 Jahren'
    location: 'Berlin Kreuzberg (sehr nah an Schöneberg)'
    lat: 52.4987777
    lng: 13.3908638
    img: benji.jpg
    email: 'muelli.benji@gmail.com'
  -
    id: burgers
    name: 'Bars & Burger Connect'
    leader: 'Bastian'
    target: 'Männer & Frauen jeden Alters'
    description: 'Gegrilltes Fleisch, frisches Gemüse und eine leckere Sauce – Ich liebe es zu essen! Gemeinsam wollen wir die eGroup nutzen, um zusammen gute Burger zu essen, vielleicht auch mal selber zusammenstellen und grillen, eine gute Zeit zu verbringen und uns auszutauschen! Ich freue mich auf gute Mitesser und schöne Abende! Einen guten Hunger solltest du mitbringen und am besten kein Veganer sein.'
    date_text: 'mittwochs 19.15 Uhr'
    location: 'Unterschiedliche Bars und Burger-Läden in Berlin'
    full: false
    lat: 52.5191787
    lng: 13.405172
    img: bastian.jpg
    email: 'bastian.bartnick@equippers.de'
  -
    id: strong
    name: 'Strong Roots'
    leader: 'Jojo & Sarah'
    target: 'Junge Frauen 19-29'
    description: 'Sehnst du dich auch danach ein engagiertes, leidenschaftliches, von Liebe erfülltes Leben zu führen? Willst du auch endlich deine Absichten in die Tat umsetzten, in dieser Welt etwas zu verändern in dem du deinem Glauben Taten folgen lässt und nicht mehr warten, dass es jemand anders tun? Dann geht es dir wie uns. Wenn wir gesund wachsen wollen, brauchen wir starke und tiefe Wurzeln. Darum soll es in unserer eGroup gehen. Wir möchten uns gegenseitig anspornen einen Psalm1-Lifestyle zu führen, das Leben trotz seiner Herausforderungen zu feiern und zu lieben und gleichzeitig Freundinnen fürs Leben zu finden.'
    date_text: 'dienstags, 19.30 Uhr'
    location: 'Innerhalb des Rings'
    full: false
    lat: 52.5191815
    lng: 13.405606
    email: johannapanter@gmail.com
  -
    id: flamingo
    name: 'Menschen in Berlin helfen & Jesus weitergeben'
    leader: 'Miriam & Csilla'
    target: 'jede'
    description: 'Bist du handwerklich begabt? Liebst Kochen oder Backen? Hilfst gerne? Irgendwas anderes kannst du gut? Oder gibst vielleicht gerne die Hoffnung von Jesus weiter? Hast du seelische Wunden, die du gerne begegnet sehen würdest?
Wenn irgendein Satz davon auf dich passt - dann ist diese Gruppe für dich! Hier wollen wir uns aufmachen und Menschen in Berlin durch helfende Taten die Liebe Gottes auf verschiedener Weise weitergeben. Wir könnten z.B das Wohnzimmer einer alleinstehende Mutter streichen, zu Advent ein Altersheim besuchen und einige singen, andere reden, andere haben gebacken, oder eine Art herrliche Kultur-Party organisieren (z.B. Dänisch), am dem wir Menschen zu unsere Gottesdienste einladen. Vielleicht hast du DIE Idee?</br>
</br>
Diese Bibelstelle sagt es so schön:</br>
</br>
„Helft, wo ihr könnt, und verschliesst eure Augen nicht vor den Nöten eurer Mitmenschen! Dann wird mein Licht eure Dunkelheit vertreiben wie die Morgensonne, und in kurzer Zeit sind eure Wunden geheilt. Eure barmherzigen Taten gehen vor euch her, und meine Herrlichkeit beschliesst euren Zug.“  (Jesaja 58:7b-8)</br>
</br>
Indem wir Gutes weitergeben, werden wir Freude sehen, selbst Gutes erleben und schneller Heilung erfahren.
Wir wollen immer mehr so werden wie Jesus:</br>
</br>
„Jesus… ist von Ort zu Ort gezogen. Er hat überall Gutes getan…“ (Ap.G 10:38)</br>
</br>
Woraus wartest du noch? Wir brauchen DICH in dieser Gruppe!'
    date_text: 'dienstags, 19:30 Uhr'
    location: 'Teltow, Spandau - und versch. Orte in Berlin'
    full: false
    lat: 52.5191787
    lng: 13.405172
    img: ME.jpg
    email: 'jandomails@gmail.com'
---

{% include hero.html options=page.hero %}

<article>
  <section class="editable content">
    <h1>Gemeinsam ganze Sache mit Gott machen.</h1>
    <p>eGroups sind ein Teil des Lebens bei Equippers. Hier verbindest du dich mit neuen Freunden, hast Gemeinschaft und erlebst Ermutigung in deinem Glauben an Jesus Christus. Zusammen geht das leichter - wir laden dich ein dabei zu sein!</p>
    <h4 class="uppercase">Unsere nächste Saison beginnt am 23. September.</h4>
    <p>Stöbere doch einfach durch die unten gelisteten Gruppen und melde dich direkt über das jeweilige Kontaktformular an. Gern kannst du auch nach dem Gottesdienst am Welcome Desk auf uns zukommen und dich registrieren. Nach der Anmeldung schickt dir dein eGroup-Leiter eine E-Mail mit einer Bestätigung und der genauen Adresse.</p>
    {% comment %}<p>Im Moment sind wir mitten in einer eGroups-Saison. Zu den unten stehenden Gruppen kannst du aber gern jederzeit dazukommen. Kontaktiere einfach den jeweiligen Leiter, um alle weiteren Infos zu bekommen. Wir freuen uns auf dich!</p>
    {% endcomment %}
    <p>Wir freuen uns auf dich.</p>
  </section>

  <section>
    {% if page.egroups.size > 0 %}
    <p style="text-align:center;margin: 2em 0 0.5em;"><a href="#center-map" id="center-map" onclick="return false;">Karte zentrieren</a></p>
    <div id="gmap" style="width:100%; height:30em;margin-bottom:1em"></div>
    {% endif %}
  </section>

  <section class="egroups padding-vertical">
    <div class="content">
      <div class="s-group-grid">
        {% for group in page.egroups %}
          <div class="s-group">
            <h4>{{ group.name }}</h4>
            <p>{{ group.date_text }}<br />Ort: <a href="#gmap" id="location-{{ group.id }}-1">{{ group.location }}</a>{% if group.full %}<br />Keine Plätze mehr!{% endif %}<br/>Für {{ group.short_target }}</p>
            <button class="button outline" href="https://google.com" onclick="toggleModal('{{ group.id }}', 'on'); return false;">
              Melde dich an!
            </button>
          </div>
        {% endfor %}
      </div>
    </div>
</section>

<div id="modal-bg"></div>

{% for g in page.egroups %}
<div class="modal" id="group-modal-{{ g.id }}">
    <div class="modal-content">
        <div class="modal-close">X</div>
        <h5>{{ g.name }}</h5>
        {% if g.img %}<img src="{{ page.route }}/uploads/egroups/{{ g.img }}" alt="Profile" />{% endif %}
        {% if g.img2 %}<img src="{{ page.route }}/uploads/egroups/{{ g.img2 }}" alt="Profile2" />{% endif %}
        <p>
            <strong>Beschreibung:</strong> {{ g.description }}<br />
            <strong>Leiter:</strong> {{ g.leader }}<br />
            <strong>Zielgruppe:</strong> {{ g.target }}<br />
            <strong>Zeit:</strong> {{ g.date_text }}<br />
            <strong>Ort:</strong> <a href="#gmap" id="location-{{ g.id }}-2">{{ g.location }}</a><br />
            {% if g.max %}<strong>Maximale Teilnehmerzahl:</strong> {{ g.max }} {% endif %}
        </p>
        {% if g.full %}<p>Keine Plätze mehr!</p>{% endif %}
        <form method="post" id="group-form-{{ g.id }}" action="/berlin/egroups">
            <legend>Kontaktiere den Leiter:</legend>
            <label>
                Dein Name:
                <input type="text" name="Name" />
            </label>
            <label>
                Email-Adresse:
                <input type="email" name="email" />
            </label>
            <label style="margin-bottom:0;">
                Nachricht:
                <textarea name="Nachricht" rows="5"></textarea>
            </label>

            <input type="hidden" name="Gewählte Gruppe" value="{{g.name}}" />
            <input type="hidden" name="_cc" value="{{ page.email.admins }}" />
            <input type="hidden" name="_to" value="{{ g.email|safe_email }}" />
            <input type="hidden" name="_subject" value="{{ page.email.subject }}" />

            <input class="btn" type="button" value="Abbrechen" onclick="toggleModal('group-modal-{{ g.id }}', 'off');" />
            <input id="group-modal-send-{{ g.id }}" class="btn btn-blue" type="submit" value="Senden" />
            {% comment %}
            TODO: Perhaps try a google captcha
            Hint by Simon: Cloudcannon offers captchas (search in the docs)
            {% endcomment %}
            <input type="text" name="_gotcha" style="display: none;" />
        </form>
    </div>
</div>
{% endfor %}
</article>

<script>
  var markers = [];
  {% for g in page.egroups %}
  {% if g.lat %}
  markers.push({
      name: '{{ g.name }}',
      leader: '{{ g.leader }}',
      modalId: '{{ g.id }}',
      locationId: 'location-{{ g.id }}',
      pos: { lat: {{ g.lat }},lng: {{ g.lng }} }
  });
  {% endif %}
  {% endfor %}

  //console.table(markers);

  function initMap() {
      var bounds = new google.maps.LatLngBounds();

      var berlin = { lat: 52.52000659999999, lng: 13.404954 };
      var initState = {
          zoom: 10,
          center: berlin,
          disableDefaultUI: true,
          zoomControl: true
      };

      var map = new google.maps.Map(document.getElementById('gmap'), initState);

      markers.forEach(function (m) {
          var marker = new google.maps.Marker({
              position: m.pos,
              map: map
          });

          var markerPos = new google.maps.LatLng(m.pos.lat, m.pos.lng);
          bounds.extend(markerPos);

          var infowindow = new google.maps.InfoWindow({
              content: '<strong>Name:</strong> ' + m.name + '<br><strong>Leiter:</strong> ' + m.leader
          });

          google.maps.event.addListener(marker, 'click', function () {
              toggleModal(m.modalId, 'on');
          });
          google.maps.event.addListener(marker, 'mouseover', function() {
              infowindow.open(map, this);
          });
          google.maps.event.addListener(marker, 'mouseout', function() {
              infowindow.close();
          });

          function showLocation(){
              toggleModal(m.modalId, 'off');
              map.setCenter(markerPos);
              map.setZoom(13);
          }
          document.getElementById( m.locationId + "-1" ).addEventListener( 'click', showLocation );
          document.getElementById( m.locationId + "-2" ).addEventListener( 'click', showLocation );
      });

      map.fitBounds(bounds);

      function centerMap() {
          // map.setCenter(initState.center);
          // map.setZoom(initState.zoom);
          map.fitBounds(bounds);
      }

      document.getElementById('center-map').addEventListener('click', function () {
          centerMap();
          return false;
      });
  }
  function toggleModal(id, status)
  {
    try { // just in case the modal background div is missing
        document.getElementById('modal-bg').style.display = (status == 'on') ? 'block' : 'none';
    } catch (e) {};
    var groupModal = document.getElementById('group-modal-'+id);
    groupModal.style.display = (status == 'on') ? 'block' : 'none';
    var st = document.body.scrollTop || document.documentElement.scrollTop;
    var ch = document.documentElement.clientHeight;
    var mh = groupModal.clientHeight;
    t = (mh > ch) ? st + 10 : st + Math.round((ch - mh)/2);
    groupModal.style.top = t + 'px';

    // enable the button
    var sendBtn = document.getElementById('group-modal-send-' + id);
    sendBtn.disabled = false;
  }

  // toggle modals off on modal background or modal close click
  var modalList = document.querySelectorAll('.modal, .modal-close');
  for (var i = 0; i < modalList.length; i++) {
      if (modalList[i].classList[0] == 'modal-close') {
          modalList[i].onclick = function() { toggleModal(this.parentNode.parentNode.id, 'off'); }
      } else {
          modalList[i].onclick = function() { toggleModal(this.id, 'off'); }
      }
  }

  // to support IE <= 8
  function stopPropagation(e) {
      var evt = e || window.event;
      if (typeof evt.stopPropagation != "undefined") {
          evt.stopPropagation();
      } else {
          evt.cancelBubble = true;
      }
  }

  // dont toggle modals off, if modal content is clicked
  var modalContentList = document.querySelectorAll('.modal-content');
  for (var i = 0; i < modalContentList.length; i++) {
      modalContentList[i].onclick = function (e) {
          stopPropagation(e);
      }
  }

  // Helper function to get form data in the supported format
  function getFormDataString(formEl) {
    var formData = new FormData(formEl),
        data = [];

    for (var keyValue of formData) {
      data.push(encodeURIComponent(keyValue[0]) + "=" + encodeURIComponent(keyValue[1]));
    }

    return data.join("&");
  }

  var ids = [ {% for g in page.egroups %} "{{ g.id }}", {% endfor %} ];

  for(var i = 0; i < ids.length; i++)
  {
    // We use a closure to properly capture i.
    (function(){
      // Fetch the form element
      var formEl = document.getElementById("group-form-" + ids[i]);
      var id = ids[i];
      var modalId = "group-modal-" + id;
      var sendBtnId = "group-modal-send-" + id;

      // Override the submit event
      formEl.addEventListener("submit", function (e) {
        // Disable the send button to prevent multiple emails
        var sendBtn = document.getElementById(sendBtnId);
        sendBtn.disabled = true;
        e.preventDefault();

        /*
        if (grecaptcha) {
          var recaptchaResponse = grecaptcha.getResponse();
          if (!recaptchaResponse) { // reCAPTCHA not clicked yet
            return false;
          }
        }*/

        var request = new XMLHttpRequest();

        request.addEventListener("load", function () {
          if (request.status === 302 || // CloudCannon redirects on success
              request.status == 200 ) { // Or testing showed that it didn't
            alert("Nachricht gesendet.");
          }
          else {
            alert("Fehler beim Senden der Nachricht. Bitte versuche es später nochmal.");
          }
          toggleModal(id, 'off');
        });

        request.open(formEl.method, formEl.action);
        request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        request.send(getFormDataString(formEl));
      });
    })();
  }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBH1tkp47YpmWonbvUZiTBcUogkBuTjFgk&callback=initMap"></script>
