---
title: eGroups bei Equippers Berlin
aliases:
  - /kleingruppen
  - /berlin/kleingruppen
hero:
  html: <h1>eGroups</h1>
  image: /uploads/egroups-hero.jpg
email:
  admins: kleingruppe@equippers.de
  subject: equippers.de - Neue eGroup-Anmeldung
egroups:
  -
    id: equip
    name: EQUIP
    leader: 'Jürgen Eisen'
    target: 'Bist du neu bei Equippers? Dann ist das genau die richtige Gruppe für dich. Lerne an 8 Abenden die Vision, Werte und Kultur von Equippers Berlin kennen.'
    short_target: 'alle, die neu sind bei Equippers'
    description: '<br/>Was wir glauben<br/>
Wer wir sind<br/>
Unsere Werte<br/>
Unsere Vision<br/>
Warum du so wichtig bist'
    date_text: 'Mittwoch Abend, 19:30 Uhr ab 16. September 2020'
    location: 'Landsberger Allee 225, 13055'
    lat: 52.5356654
    lng: 13.486051
    img: juergen.jpg
    email: juergen.eisen@equippers.de
  -
    id: kh
    name: 'Beten, so dass wirklich was passiert'
    leader: 'Katharina und Hanna'
    target: 'alle, die im Gebet durchbrechen wollen'
    short_target: 'alle'
    description: 'Alles, was wir im Sichtbaren sehen, entscheidet sich im Unsichtbaren. Deswegen haben wir uns vorgenommen, für unsere Gemeinde, unsere Stadt, unsere alltäglichen Umstände, unsere Kinder und was uns sonst so beschäftigt und bewegt zusammen einzustehen und das Schwert des Geistes zu schwingen. Lasst uns gemeinsam Gottes Eingreifen erleben.<br/>Ort: Im Wechsel, nach Absprache in Tempelhof, Moabit oder Zeuthen'
    date_text: 'Jeden Donnerstag 9:30-12:00 Uhr'
    location: 'noch festzulegen'
    full: false
    lat: 52.4709092
    lng: 13.3841167
    img: hk.jpeg
    email: hanna.zobel@equippers.de
  -
    id: gebet
    name: 'Gebet'
    leader: 'Jonathan & Patricia'
    target: 'Männer & Frauen jeden Alters'
    short_target: 'alle'
    description: '1 Timotheus 2: 2 & 4: "Am wichtigsten ist, dass die Gemeinde beständig im Gebet bleibt. Betet für alle Menschen; bringt eure Bitten, Wünsche, eure Anliegen und euren Dank für sie vor Gott." & "Denn er will, dass alle Menschen gerettet werden und seine Wahrheit erkennen." Wir wollen vor Gott kommen und bitten, dass sein "Wille geschehe hier auf der Erde, so wie er im Himmel geschieht". Unsere Gebete und Fürbitten haben Kraft und können die Welt um uns verändern. Wir freuen uns mit dir die Kraft Gottes auf die Erde zu bringen!'
    date_text: 'dienstags 20:30-22 Uhr'
    location: 'Berlin - Steglitz'
    full: false
    lat: 52.4489064
    lng: 13.3538206
    img: teamjp.jpg
    email: jonathan.stichbury@equippers.de
  -
    id: yal
    name: 'YA - Young Adults Ladies'
    leader: 'Melissa'
    target: 'junge Frauen'
    short_target: 'junge Frauen'
    description: 'Themen, die junge Frauen bewegen'
    date_text: 'mittwochs, 19:00 - 20:30 Uhr'
    location: 'U Turmstr. (Moabit, Tiergarten)'
    full: false
    lat: 52.5253851
    lng: 13.3410407
    img: sm.jpg
    email: simon.haenisch@equippers.de
  -
    id: yam
    name: 'YA - Young Adults Männer'
    leader: 'Simon'
    target: 'junge Männer'
    short_target: 'junge Männer'
    description: 'Was junge Männer eben so umtreibt'
    date_text: 'dienstags, 19:00 - 20:30 Uhr'
    location: 'U Turmstr. (Moabit, Tiergarten)'
    full: false
    lat: 52.5253851
    lng: 13.3410407
    img: sm.jpg
    email: simon.haenisch@equippers.de
  -
    id: benji
    name: 'Wenn Bro‘s chillen...'
    leader: 'Benjamin (Benji)'
    target: 'junge Männer von 18 in die 30‘er'
    short_target: 'junge Männer'
    description: 'Wenn Bro‘s chillen, wird auf jeden Fall mal heftig gut gegessen, dann läuft ein deeper Video-Input (Egroup Sessions von Equippers Auckland), dann wird gepflegt drüber gesprochen und wenn du dann noch bleiben willst, (kein Muss um teilzunehmen) rocken wir noch ein bisschen Egitarre und Bass. Das wärs dann auch schon. Haste Bock? Meld dich an!!'
    date_text: 'Tag / Zeit wird gemeinsam abgestimmt'
    location: 'Kreuzberg'
    full: false
    lat: 52.4946561
    lng: 13.386768
    img: benji.jpg
    email: benjamin.mueller@equippers.de
  -
    id: salome
    name: 'Wir lieben Lobpreis!'
    leader: 'Salome'
    target: 'junge Erwachsene'
    short_target: 'junge Erwachsene'
    description: 'Wir sind eine Gruppe von jungen Leuten, die sich trifft, um Gott anzubeten. Wir lieben es Lobpreis zu machen! Gemeinsam wollen wir hungrig nach mehr von seiner Gegenwart vor seinen Thron kommen und von ihm empfangen. Wir wollen erleben wie der Himmel auf die Erde kommt. Wir freuen uns über jeden, der dabei sein möchte. Du musst auch überhaupt nicht musikalisch sein, komm einfach mit einem hungrigen Herzen. Wir starten immer mit Essen & Gemeinschaft. Ort und Zeit können noch gemeinsam verändert werden.'
    date_text: 'alle zwei Wochen Samstag ab 11 Uhr'
    location: 'Pankow'
    full: false
    lat: 52.5663249
    lng: 13.4103652
    img: salome.jpg
    email: salome_brandt@arcor.de
  -
    id: eintauchen
    name: 'Eintauchen in die Apostelgeschichte'
    leader: 'Judith und Katharina'
    target: 'Frauen'
    short_target: 'Frauen'
    description: 'Anhand eines Bibelstudium-Handbuchs zur Apostelgeschichte studieren wir die Anfänge der Gemeinde und das Wirken des Heiligen Geistes. Was wir in der Bibel lesen wollen wir natürlich auch selber erleben.'
    date_text: 'Tag / Zeit wird gemeinsam abgestimmt'
    location: 'noch festzulegen'
    full: false
    lat: 52.4709092
    lng: 13.3841167
    img: kj.JPG
    email: 'judith.hn@gmx.de'
  -
    id: rainer1
    name: 'Worship'
    leader: 'Rainer'
    target: 'Alle'
    short_target: 'Alle'
    description: 'Worship nach Psalm 150 - Alles was Odem hat lobe den Herrn'
    date_text: '14-tägig'
    location: 'Gemeinderäume Höhenschönhausen'
    full: false
    visible: false
    lat: 52.5356654
    lng: 13.486051
    img: rainer.jpg
    email: 'rainer.schweighoefer@gmx.de'
  -
    id: rainer2
    name: 'Ich und mein Haus wollen dem Herrn dienen'
    leader: 'Rainer und Eveline'
    target: 'Alle'
    short_target: 'Alle'
    description: 'Austausch und Gebet zu allem, was uns im Alltag beschäftigt.'
    date_text: '14-tägig mittwochs'
    location: 'Kaulsdorf'
    full: false
    visible: false
    lat: 52.4999639
    lng: 13.5790452
    img: rainer2.JPG
    email: 'rainer.schweighoefer@gmx.de'
  -
    id: rainer3
    name: 'Die Offliners'
    leader: 'Rainer, Sabine und Elzbieta'
    target: 'Alle'
    short_target: 'Alle'
    description: 'Informations- und Kontaktangebot für die Offliners. Für alle die sich ohne Internet durchs Leben bewegen: Bitte diese gern informieren und den Kontakt herstellen.'
    date_text: '14-tägig mittwochs'
    location: 'Kaulsdorf'
    full: false
    lat: 52.4999639
    lng: 13.5790452
    img: rainer.jpg
    email: 'rainer.schweighoefer@gmx.de'
  -
    id: Biesdorfer
    name: 'Biesdorfer Kleingruppe'
    leader: 'Sabine und Martin'
    target: 'Alle'
    short_target: 'Alle'
    description: 'Ehrlich Jesus nachfolgen'
    date_text: '14-tägig mittwochs, 19.30 Uhr'
    location: 'Marzahn/ Biesdorf'
    full: false
    lat: 52.5287463
    lng: 13.5657061
    img: treblin.jpg
    email: 'm.treblin@googlemail.com'
  -
    id: karin
    name: 'Näher, weiter, tiefer'
    leader: 'Karin'
    target: 'alle'
    short_target: 'alle'
    description: 'Für alle, die im Glauben wachsen wollen - dabei ist es völlig egal, ob Du ganz neu oder gefühlt schon "ewig" dabei bist! Unser Ziel ist es, uns gegenseitig zu unterstützen und Fragen zum Glauben gemeinsam zu klären. Vor allen Dingen wollen wir näher ans Vaterherz Gottes kommen, unsere Glaubensziele mutig weiter stecken und tiefer in Gottes Wort verwurzelt werden.'
    date_text: 'Tag / Zeit wird gemeinsam abgestimmt'
    location: 'Steglitz / Lichterfelde'
    full: false
    lat: 52.4313518
    lng: 13.3097481
    img: karin.jpg
    email: Karin.Luke@gmx.de
  -
    id: geh
    name: 'Einander stärken'
    leader: 'Petra Geh'
    target: 'Frauen ab 20'
    short_target: 'Frauen ab 20'
    description: 'Wir wollen einander ermutigen, im Glauben zu wachsen, unsere Herausforderungen zu meistern und dabei eine gute Zeit haben und Spaß zusammen'
    date_text: 'Tag / Zeit wird gemeinsam abgestimmt'
    location: 'Online (Zoom) einmal im Monat wechselnder Ort'
    full: false
    lat: 52.5200285
    lng: 13.4047399
    img: petra.JPG
    email: 'petra.geh@equippers.de'
  -
    id: wsp
    name: 'Wir sind Portal'
    leader: 'Heike und Uwe'
    target: 'Alle'
    short_target: 'Alle'
    description: 'Gebet/Anbetung  : Leben in unserer Identität'
    date_text: '1. / 3. / 5. Dienstag im Monat 19.00 - 21.00 Uhr'
    location: 'Gemeinderäume Höhenschönhausen'
    full: false
    lat: 52.5356654
    lng: 13.486051
    img: heike.JPG
    email: 'H.Assmus@gmx.de'
  -
    id: zobels
    name: 'Together together'
    leader: 'Lukas & Hanna'
    target: 'Alle'
    short_target: 'Alle'
    description: 'Zusammen sind wir stark. Das Leben gemeinsam leben, einander im Alltag tragen und stärken. Zusammen was snacken und quatschen. Füreinander beten. Jeden Dienstag Abend'
    date_text: 'dienstags'
    location: 'Zeuthen (S8 oder S46)'
    full: false
    lat: 52.3492315
    lng: 13.6268385
    img: zobels.jpg
    email: 'hanna.zobel@equippers.de'
_template:
  -
    id: bob
    name: ''
    leader: ''
    target: ''
    short_target: ''
    description: ''
    date_text: ''
    location: ''
    full: false
    lat:
    lng:
    img:
    email: ''
---

{% include hero.html options=page.hero %}

<article>
	<section class="editable content">
		<h1>Gemeinsam ganze Sache mit Gott machen.</h1>
		<p>
			eGroups sind ein Teil des Lebens bei Equippers. Hier verbindest du dich
			mit neuen Freunden, hast Gemeinschaft und erlebst Ermutigung in deinem
			Glauben an Jesus Christus. Zusammen geht das leichter - wir laden dich
			ein, dabei zu sein!
		</p>
		<p>
			Lasst uns ab 7. September gemeinsam in eine neue eGroup-Saison starten.
			Bis du dabei?
		</p>
		<p>
			Stöbere doch einfach durch die unten gelisteten Gruppen und melde dich
			direkt über das jeweilige Kontaktformular an. Nach der Anmeldung schickt
			dir dein eGroup-Leiter eine E-Mail mit einer Bestätigung und der genauen
			Adresse.
		</p>
		{% comment %}
		<p>
			Im Moment sind wir mitten in einer eGroups-Saison. Zu den unten stehenden
			Gruppen kannst du aber gern jederzeit dazukommen. Kontaktiere einfach den
			jeweiligen Leiter, um alle weiteren Infos zu bekommen. Wir freuen uns auf
			dich!
		</p>
		{% endcomment %}
		<p>Wir freuen uns auf dich.</p>
	</section>

	<section id="gdpr" style="background-color:#eaeae9; padding-top:3em; padding-bottom:3em;">
		<div class="content">
			<p class="text-center" style="margin: 1em auto">
				Um unsere eGroups auf einer Karte anzuzeigen und damit du dich für Gruppen anmelden kannst, werden Cookies gespeichert und personenbezogene Daten (deine IP-Adresse) anonymisiert an Google weitergeleitet.
			</p>

			<button class="green button" style="width: 100%">
				Ich bin einverstanden
			</button>
		</div>
	</section>

	<section id="gmap-wrapper" style="display: none">
		{% if page.egroups.size > 0 %}
		<p style="text-align: center; margin: 2em 0 0.5em;">
			<a href="#center-map" id="center-map" onclick="return false;"
				>Karte zentrieren</a
			>
		</p>
		<div id="gmap" style="width: 100%; height: 30em; margin-bottom: 1em;"></div>
		{% endif %}
	</section>

	<section class="egroups padding-vertical">
		<div class="content">
			<div class="s-group-grid">
				{% for group in page.egroups %}
					{% if group.visible == false %}
						{% continue %}
					{% endif %}

				<div class="s-group">
					<h4>{{ group.name }}</h4>
					<p>
						{{ group.date_text }}<br />Ort:
						<a href="#gmap" id="location-{{ group.id }}-1"
							>{{ group.location }}</a
						>{% if group.full %}<br />Keine Plätze mehr!{% endif %}<br />Für {{
						group.short_target }}
					</p>
					<button
						class="button outline"
						href="https://google.com"
						onclick="toggleModal('{{ group.id }}', 'on'); return false;"
						disabled
					>
						Melde dich an!
					</button>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>

	<div id="modal-bg"></div>

	{% for g in page.egroups %}
	{% if g.visible == false %}
		{% continue %}
	{% endif %}
	<div
		class="modal"
		id="group-modal-{{ g.id }}"
		onclick="toggleModal('{{ g.id }}', 'off');"
	>
		<div class="modal-content">
			<div class="modal-close" onclick="toggleModal('{{ g.id }}', 'off');">
				X
			</div>
			<h5>{{ g.name }}</h5>
			{% if g.img %}<img
				src="{{ page.route }}/uploads/egroups/{{ g.img }}"
				alt="Profile"
			/>{% endif %} {% if g.img2 %}<img
				src="{{ page.route }}/uploads/egroups/{{ g.img2 }}"
				alt="Profile2"
			/>{% endif %}
			<p>
				<strong>Beschreibung:</strong> {{ g.description }}<br />
				<strong>Leiter:</strong> {{ g.leader }}<br />
				<strong>Zielgruppe:</strong> {{ g.target }}<br />
				<strong>Zeit:</strong> {{ g.date_text }}<br />
				<strong>Ort:</strong>
				<a href="#gmap" id="location-{{ g.id }}-2">{{ g.location }}</a><br />
				{% if g.max %}<strong>Maximale Teilnehmerzahl:</strong> {{ g.max }} {%
				endif %}
			</p>
			{% if g.full %}
			<p>Keine Plätze mehr!</p>
			{% endif %}
			<form method="post" id="group-form-{{ g.id }}" action="/berlin/egroups">
				<legend>Kontaktiere den Leiter:</legend>
				<label>
					Dein Name:
					<input type="text" name="Name" />
				</label>
				<label>
					Email-Adresse:
					<input type="email" name="email" />
				</label>
				<label style="margin-bottom: 0;">
					Nachricht:
					<textarea name="Nachricht" rows="5"></textarea>
				</label>

				<input type="hidden" name="Gewählte Gruppe" value="{{g.name}}" />
				<input type="hidden" name="_cc" value="{{ page.email.admins }}" />
				<input type="hidden" name="_to" value="{{ g.email|safe_email }}" />
				<input type="hidden" name="_subject" value="{{ page.email.subject }}" />

				<p>
					Durch das Absenden dieses Formulars erkläre ich mich damit einverstanden, dass meine Daten zum Zweck der eGroup-Anmeldung verarbeitet werden, damit ich kontaktiert werden kann.
					<br>
					<i class="gray-color"></i>Diese personenbezogenen Daten werden nicht an Dritte weitergegeben und können auf Anfrage gelöscht werden.</i>
				</p>

				<div class="captcha" id="html_element_{{ g.id }}"></div>
				<input
					class="btn"
					type="button"
					value="Abbrechen"
					onclick="toggleModal('{{ g.id }}', 'off');"
				/>
				<input
					id="group-modal-send-{{ g.id }}"
					class="btn btn-blue"
					type="submit"
					value="Senden"
				/>
				<input type="text" name="_gotcha" style="display: none;" />
			</form>
		</div>
	</div>
	{% endfor %}
</article>

<script>
	const groups = [
		{% for g in page.egroups %}
			{% if g.visible == false %}
				{% continue %}
			{% endif %}
			{% if g.lat %}
				{
						name: '{{ g.name }}',
						leader: '{{ g.leader }}',
						modalId: '{{ g.id }}',
						locationId: 'location-{{ g.id }}',
						pos: { lat: {{ g.lat }}, lng: {{ g.lng }} },
				},
			{% endif %}
		{% endfor %}
	];
</script>

<script src="/js/egroups-bundle.js"></script>
