---
title: Events von Equippers Berlin
aliases:
  - /events
hero:
  html: <h1>Events</h1>
  image: /uploads/hero-1440.jpg
events:
  - title: Connect Konferenz
    description: 1. & 2. November
    image: /uploads/events/connect-conf.jpg
    goes_to: https://www.eventbrite.de/e/connect-konferenz-2019-tickets-69010270577
  - title: Flourish 2020
    description: März 2020
    image: /uploads/events/flourish-2020.jpg
    goes_to: /berlin/flourish
---

{% include hero.html options=page.hero %}

<section class="events padding-vertical">
	<div class="content">
		<div class="grid">
			{% for event in page.events %}
				<a {% if event.goes_to %} href="{{ event.goes_to }}"{% endif %} class="card">
					<div class="img" style="background-image: url('{{ event.image }}')"></div>
					<div class="title">
						{{ event.title }}
						<div class="description">{{ event.description }}</div>
					</div>
				</a>
			{% endfor %}
		</div>
	</div>
</section>
