---
title: Frauenkonferenz 2020 bei Equippers Berlin
aliases:
  - /flourish
hero:
  html: >-
    <h1>Flourish - Frauenkonferenz</h1>
    <p><i>6. & 7. März 2020</i></p>
    <a href="https://flourish20.eventbrite.de" class="green button" style="font-size:0.675em;">Jetzt Anmelden</a>
  image: /uploads/sistas-hero.jpg
---

{% include hero.html options=page.hero %}

<article class="flourish">
	<section class="content">
		{% include youtube-video.html id="of0DXvWS4hY" %}

		<h2>Meine Liebe</h2>
		<p>Wir sehnen uns danach, dich bei unserer ”Flourish 2020“-Party dabei zu haben. Wir sehnen uns nach einem noch größeren Gefühl europäischer Vielfalt auf der nächsten Frauenkonferenz.</p>
		<p>Verlangen – Wonach dürstet dich? Wonach streckst du dich aus, um die Sehnsucht deiner Seele, deines Körpers und deines Geistes zu stillen? Sind wir „verwurzelt und gegründet“ in Gottes Liebe oder strengen wir uns an, unsere Schmerzen mit Dingen und Menschen zu betäuben und betteln um übrig gebliebene Liebeskrümel, wo auch immer wir hingehen?</p>
		<p>Psalm 92 verspricht, dass wir aufblühen wie ein gesunder Baum, wenn wir in Gottes Haus verwurzelt bleiben. Wir können erfüllt leben und uns dennoch nach neuen Höhen ausstrecken.</p>
		<p>Inspirierende Sprecher, Lobpreis, Gottes Gegenwart, Spaß und Beziehungen: Was kann man daran nicht lieben?
			Zu dieser Mischung kommen außerdem noch einige neue Initiativen hinzu.</p>
		<p>Komm und schau es dir selbst an. Es tut einfach gut, zusammenzukommen, in seiner Gegenwart heil zu werden und sich gegenseitig herauszufordern, noch tiefer und höher in Gott zu gehen.</p>

		<h2>Gastsprecher</h2>
		<p><strong>Pastorin Helen Monk</strong> (Neuseeland) ist schon lange Teil der Familie von Equippers Berlin. Sie war die erste in der Equippers Bewegung, die eine von Gott gegebene Leidenschaft für Deutschland bekommen hat. Sie hat sogar angefangen, die Sprache zu lernen. Sie liebt es, hier herzukommen – und wir leben es, sie bei uns zu haben. Als hingegebene Gebetskriegerin und mit einer starken prophetischen Gabe gesegnet, predigt sie auf der ganzen Welt und auch zuhause. Wir können es nicht erwarten, dass du sie triffst und durch ihre Gaben gesegnet wirst. Sie und ihr Ehemann, Pastor Bruce, haben das Equippers Netzwerk gegründet und fördern bis heute das Wachstum in verschiedenen Teilen der Erde. Pastorin Helen startet immer wieder neue Dienste und entwickelt diese in etwas Wundervolles, bevor sie sie an andere weiter gibt.</p>
		<p><strong>Pastorin Marta Toth</strong> (Slowakei) und ihr Ehemann Pastor Miro sind schon lange mit Equippers verbunden. In der Slowakei haben sie bereits viele Gemeinden und eine Bibelschule sowie vor Kurzem das Equippers Start-Up Budapest in Ungarn gegründet. Marta bekommt Einladungen von nah und fern um ihre Predigtgabe einzusetzen. Wir freuen uns sehr, dass wir Marta endlich zu Flourish einladen können. Ihr ältester Sohn hat gerade geheiratet und Marta hält die Familie zusammen, wenn sie gemeinsam auf der ganzen Welt unterwegs sind.</p>
		<p><strong>Pastorin Miriam Eisen</strong> (Dänemark) lebt mit ihrem Ehemann Pastor Jürgen und ihren gemeinsamen vier Söhnen in Berlin. Bevor sie 2010 in die Hauptstadt zogen, um Equippers Berlin zu gründen, wohnten sie in verschiedenen europäischen Nationen. Miriams kreatives Herz schlägt zuerst für Gott und danach gleichermaßen dafür, ihn mit wunderbarer Musik zu ehren und Frauen in ihrer Beziehung mit Ihm aufblühen zu sehen. Ihr Traum ist eine Armee starker, verwurzelter Frauen, die gemeinsam durch Gottes Kraft und Seine Liebe ihr Umfeld für Gott beeinflussen. Mit dieser Vision hat sie 2016 Flourish ins Leben gerufen, eine Konferenz, die die europäische christliche Welt segnet.</p>

		<h2>Liebe Gibt</h2>
		<p>
			Liebe ist lebensnotwendig – das zeigt sich am stärksten in der Mutter-Kind-Beziehung. Doch nicht jede Frau möchte schwanger werden. Angesichts schwieriger Umstände verzweifeln Viele nahezu an ihrer Schwangerschaft. In einer solchen Krise braucht es ehrliche Beratung und handfeste Unterstützung. Genau das leistet die Organisation “Pro Femina” mit ihrem <a href="https://www.1000plus.net">„Projekt 1000plus”</a>. Mit Flourish wollen wir das Projekt gemeinsam unterstützen, damit Schwangere Mut fassen und entdecken, wie sie sich selbst und ihr Baby lieben können.
			<br>
			„Pro Femina“ hat dazu die „Babyflaschenaktion“ ins Leben gerufen: Ziel ist, eine Babyflasche mit Geld zu füllen, mit dem die Beratung und Unterstützung schwangerer Frauen ermöglicht wird.
		</p>
		<p>
			Hier darfst du kreativ werden:<br>
			Klicke bei der Anmeldung für Flourish auf „1000plus unterstützen – Flasche bestellen“. Dann schickt “Pro Femina” dir deine eigene “1000plus-Babyflasche” zu.<br>
			Währenddessen kannst du schon mit der Planung beginnen: Wie kannst du Geld sammeln und wer könnte dich bei dem Projekt unterstützen?
		</p>
		<p>Hier ein paar praktische Ideen:</p>
		<p>Einfach umsetzbar:</p>
		<ul>
			<li>Möchtest du dir etwas abgewöhnen? Wirf jedes Mal, wenn du es geschafft hast, deiner Gewohnheit zu widerstehen, einen bestimmten Betrag in die Babyflasche und feier deinen Sieg</li>
			<li>Nimm die Babyflasche immer in deiner Tasche mit, erzähle davon und bitte um eine Spende, wenn sich die Gelegenheit ergibt</li>
			<li>Wenn du Kinder hast: Spende jedes Mal, wenn du etwas Essenzielles für deine Kinder kaufst (z.B. Windeln), ein paar Euro oder auch den Betrag deines Einkaufs für die Babyflaschenaktion</li>
			<li>Melde dich bei Smile.Amazon.de an, wähle die Organisation “Pro Femina eV” aus - und Amazon spendet jedes Mal 0,5% deines Einkaufswertes an „deine" Organisation</li>
		</ul>
		<p>Etwas mehr Aufwand:</p>
		<ul>
				<li>Backe Leckereien und verkaufe sie in deiner Gemeinde, in der Nachbarschaft, auf der Straße, ...</li>
				<li>Biete Dienstleistungen wie Babysitten, Rasenmähen, Auto waschen, Staubsaugen gegen eine Spende für 1000plus an (falls du Kinder hast: Sie helfen sicher gern!:))</li>
				<li>Lade zu einem privaten „Charity-Dinner“ oder „Tu Gutes-Kaffeetrinken“, verwöhne deine Gäste mit gutem Essen und bitte sie um eine Spende</li>
				<li>Lade deine Geburtstagsgäste ein, anstelle von Geschenken eine Unterstützung für Schwangere in Not und ihre ungeborenen Babys zu geben. Informationen dazu findest du <a href="https://www.1000plus.net/helfen/geburtstag">hier</a>.</li>
		</ul>
		<p>Setz deine Gaben und das, was dir Freude bringt ein, um Schwangeren eine neue Perspektive zu schenken! Und teile es mit uns und der Welt: Poste deine Ideen und Fotos mit dem Hashtag #liebegibt #flourish2020 #1000plus</p>
		<p>Deine gefüllte Babyflasche bringst du dann einfach mit zu Flourish 2020, wo wir sie gemeinsam an „Pro Femina“ überreichen werden.</p>
		<p><i>Datenschutzhinweis:</i> Mit deiner Angabe, dass du „1000plus“ unterstützt, willigst du ein, dass wir deinen Namen und deine Adresse an „Pro Femina“ weitergeben. Sie dürfen deine Daten ausschließlich im Rahmen dieser Aktion nutzen, um dir die Babyflasche und wenn du magst später eine Spendenquittung zukommen zu lassen.</p>

		<h2>Flourish Ehrt</h2>
		<p>Als Equippers-Sistas legen wir Wert auf das Ehren anderer. Wenn du eine Frau kennst, die Unglaubliches überwunden hat und stark im Glauben geblieben ist, wollen wir ihre Geschichte hören. Um jemanden zu nominieren, schicke uns bis zum 15.01.2020 eine Mail an sistas@equippers.de. <a href="https://www.eventbrite.de/e/flourish-frauenkonferenz-2020-tickets-65242068784">Hier</a> kannst du auch dafür spenden, damit wir die Gewinner zusammen wirklich segnen können: Klicke auf “Tickets” und gib bei “Spenden / Flourish ehrt” den Betrag ein, den du spenden möchtest.</p>

		<h2>Infos</h2>
		<table>
			<tr>
				<td>Wann:</td>
				<td>06. - 07.03.2020</td>
			</tr>
			<tr>
				<td>Wo:</td>
				<td>Kreuzkirche Lankwitz (EMK)<br>Zietenstrasse 11<br>12249 Berlin</td>
			</tr>
			<tr>
				<td>Preise:</td>
				<td>43,00 € (bis 31.01.2020)<br>53,00 € (ab 01.02.2020)</td>
			</tr>
			<tr>
				<td>Studenten:</td>
				<td>27,00 € (bis 31.01.2020)<br>37,00 € (ab 01.02.2020)</td>
			</tr>
			<tr>
				<td>Familien- und Gruppentickets:</td>
				<td>Alle Infos zu Familien- und Gruppentickets auf <a href="https://flourish20.eventbrite.de">flourish20.eventbrite.de</a></td>
			</tr>
			<tr>
				<td>Kinderbetreuung:</td>
				<td>Ab 2,5 Jahren wird Kinderbetreuung während der Sessions angeboten. Bitte melde deine Kinder über das Anmeldeformular an.</td>
			</tr>
		</table>

		<div style="margin: 3em 0 2em">
			<a href="https://flourish20.eventbrite.de" class="green button">Jetzt Anmelden</a>
		</div>

		<blockquote>
			Und ich bete, dass Christus durch den Glauben immer mehr in euren Herzen wohnt und ihr in der Liebe Gottes fest <strong>verwurzelt</strong> und <strong>gegründet</strong> seid. So könnt ihr mit allen Gläubigen ihr ganzes Ausmaß erfassen, die Breite, Länge, Höhe und Tiefe.
			<br>
			<br>
			<div>— Eph. 3:17-18</div>
		</blockquote>
	</section>
</article>
