---
title: Equippers Berlin
hero:
  html: <h1>Kirche anders als du denkst</h1>
  image: /uploads/hero-berlin-home.jpg
service_time_: '17:00 Uhr'
location: tsb
locations:
  tsb:
    name: TSB Berlin - Konferenzzentrum Charlottenburg<br>Helmholtzstr. 9, 10587 Berlin
    bvg_link: >-
      https://www.vbb.de/fahrinfo?Z=10587+Berlin-Charlottenburg,+Helmholtzstr.+9&REQ0JourneyStopsZID=A=2@O=10587+Berlin-Charlottenburg,+Helmholtzstr.+9@X=13324881@Y=52521580@U=103@L=770004323@B=1@V=3.9,@p=1553251442@&timeMode=arrival&time=10:45&date=23.02.2020
  reset:
    name: Reset Charlottenburg<br>Westfälische Str. 30, 10709 Berlin
    bvg_link: >-
      https://www.vbb.de/fahrinfo?Z=10709+Berlin-Halensee,+Westf%C3%A4lische+Str.+30&REQ0JourneyStopsZID=A=2@O=10709+Berlin-Halensee,+Westf%C3%A4lische+Str.+30@X=13324881@Y=52521580@U=103@L=770004323@B=1@V=3.9,@p=1553251442@&timeMode=arrival&time=16:15&date=16.02.2020
  efg-kreuzberg:
    name: EFG Kreuzberg - Bergmannstraße
    bvg_link: >-
      http://fahrinfo.vbb.de/bin/query.exe/dn?SID=@&ZID=A=2@O=10961%20Berlin-Kreuzberg,%20Bergmannstr.%2022@U=103@L=770018679@B=1@V=3.9,@p=1524056779@@&timesel=arrive&date=23.05.2018&time=15:15&externalCall=yes&start=yes
  maritim:
    name: Maritim Hotel Berlin - Stauffenbergstraße
    bvg_link: >-
      http://fahrinfo.vbb.de/bin/query.exe/dn?SID=@&ZID=A=2@O=10785%20Berlin-Tiergarten,%20Stauffenbergstr.%2026@U=103@L=770018679@B=1@V=3.9,@p=1524056779@@&timesel=arrive&date=20.05.2018&time=10:45&externalCall=yes&start=yes
  maritim-proarte:
    name: Maritim proArte Hotel Berlin - Friedrichstraße
    bvg_link: >-
      http://fahrinfo.vbb.de/bin/query.exe/dn?SID=@&ZID=A=2@O=10117%20Berlin-Mitte,%20Friedrichstr.%20151@X=13388570@Y=52518389@U=103@L=770015582@B=1@V=3.9,@p=1524056779@@&timesel=arrive&date=08.07.2018&time=09:45&externalCall=yes&start=yes
  kreuzkirche:
    name: Kreuzkirche Lankwitz - Zietenstraße 11, 12249 Berlin
    bvg_link: >-
      http://fahrinfo.vbb.de/bin/query.exe/dn?SID=@&ZID=A=2@O=12249%20Berlin-Lankwitz,%20Zietenstr.%2011@X=13388570@Y=52518389@U=103@L=770015582@B=1@V=3.9,@p=1524056779@@&timesel=arrive&time=15:15&externalCall=yes&start=yes
#event_promos:
#  - title: Flourish 2020 - Frauenkonferenz
#    subtitle: März 2020
#    image: /uploads/events/flourish-2020.jpg
#    goes_to: /flourish
events:
  - title: Team Night
    date: 2018-10-11 19:00:00 +0200
    description: >-
      Wir treffen uns zur Team Night um 19 Uhr (der Veranstaltungsort wird noch
      bekannt gegeben).
  - title: Worship MasterClass mit Wayne & Libby Huirua
    date: 2018-10-23 17:00:00 +0200
    description: >-
      Die Lobpreispastoren von Equippers in Neuseeland geben eine Worship
      MasterClass. Von 17 bis 22 Uhr im Café Charly.
  - title: Connect Konferenz 2018
    date: 2018-11-03 09:00:00 +0100
    description: >-
      Am 3. November findet unsere Connect Konferenz im Maritim ProArte Hotel
      (Friedrichstraße) in Berlin statt. <a
      href="https://connect-equippers.eventbrite.de/" target="_blank">Melde dich
      jetzt an!</a>
  - title: Gottesdienst mit Mark Collard
    date: 2018-11-04 10:00:00 +0100
    description: >-
      Pastor Mark Collard von Equippers London spricht in unserem Gottesdienst,
      im Maritim ProArte Hotel (Friedrichstraße).
  - title: Advent-Hygge
    date: 2018-11-24 19:00:00 +0100
    description: >-
      Die Equippers-Sistas treffen sich zum gemütlichen Beisammen- und Kreativsein gleich zwei Mal: von 10-13 Uhr bei Ps. Miriam in Teltow und ab 18 Uhr bei Anja in Tempelhof. Mehr info findest du <a href="/berlin/sistas">hier</a>.
  - title: Encounter Night mit Dr. Michael Maiden
    date: 2018-12-06 18:00:00 +0100
    description: >-
      Am 6. Dezember haben wir um 19 Uhr eine Encounter Night mit Dr. Michael
      Maiden (USA) in der Christuskirche Berlin.
communities:
  - title: Youth
    goes_to: /berlin/youth
    image: /uploads/youth-600.jpg
  - title: Young Adults
    goes_to: /berlin/ya
    image: /uploads/hero-ya-600.jpg
#  - title: Kids
#    goes_to: /berlin/kids
#    image: /uploads/kids-600.jpg
  - title: Sistas
    goes_to: /berlin/sistas
    image: /uploads/miriam-600.jpg
  - title: eGroups
    goes_to: /berlin/egroups
    image: /uploads/people-600.jpg
  - title: Praktikum
    goes_to: /berlin/internship
    image: /uploads/praktikum-600.jpg
connect:
  - title: Facebook
    svg_icon_id: facebook
    link: 'https://www.facebook.com/equippersberlin'
  - title: Instagram
    svg_icon_id: instagram
    link: 'https://www.instagram.com/equippersberlin/'
  - title: Newsletter
    svg_icon_id: newsletter
    link: 'https://eepurl.com/dhD0zz'
  - title: Podcast
    svg_icon_id: podcast
    link: 'https://overcast.fm/itunes977023058/equippers-berlin'
promos:
  - title: Shout Conference
    subtitle: Unser weltweites Familientreffen
    background_image: /uploads/shout-20.jpg
    link: 'https://shout.org.nz'
  - title: Equippers College
    subtitle: Leadership // Worship
    link: 'https://equipperscollege.com'
    background_image: /uploads/college.jpg
  - title: Revolution
    subtitle: Der Sound unseres Lobpreises
    background_image: /uploads/clrs.jpg
    link: 'https://www.equipperschurch.com/music'
---

<section class="dark" style="background-color: #fe4a49;">
  <div class="content text-center padding">
    <p class="no-margin padding">Aufgrund der aktuellen Situation werden wir bis einschließlich 3. Mai 2020 keine Gottesdienste um 17 Uhr feiern - Den 10:00 Uhr Gottesdienst feiern wir über Livestream. Alle aktuellen Updates findest du auf unserer Webseite und unseren Social-Media-Kanälen.</p>
  </div>
</section>

{% include hero.html options=page.hero %}

<section class="padding-vertical">
  <div class="content text-center">
    <h2 class="editable no-margin-after">Gottesdienst diesen Sonntag:</h2>
    <p>
      <span class="light-font" style="font-size: 2.5em;">10:00 Uhr</span><br />
      Livestream-Gottesdienst<br />
      <strong><a class="blue-color" href="https://www.facebook.com/equippersberlin/">Facebook</a></strong> // <strong><a class="red-color" href="https://www.youtube.com/channel/UCsrmi9NdlmG_Vor6raljIBg">Youtube</a></strong>
    </p>
    <p class="light-font">
      Wir würden es lieben, mit dir in Kontakt zu treten, oder dein Gebetsanliegen zu hören.
      <br>
      Füll dazu doch gerne unsere <a style="font-weight: 400;" href="https://forms.gle/GwMtcCmn8ZgEfpqo7">Online-Kontaktkarte</a> oder <a style="font-weight: 400;" href="https://forms.gle/UpVB5EwHdkBLS9736">Gebetskarte</a> aus.
      <br>
      Wenn du praktische Hilfe brauchst oder anbieten möchtest, dann melde dich bei uns über unsere <a style="font-weight: 400;" href="http://www.equippers.de/berlin/hilfe">Corona Hilfe.</a>
    </p>

    {% include youtube-video.html id="bI6kX6XlSU4" %}

    <!-- <p>
      <span class="light-font" style="font-size: 2.5em;">10:00 Uhr</span><br />
      Christus-Gemeinde Hohenschönhausen<br />
      Landsberger Allee 225, 13055 Berlin
    </p>
    <p>
      <span class="light-font" style="font-size: 2.5em;">{{ page.service_time_ }}</span><br />
      {{ page.locations[page.location].name }}<br />
      <i class="light-font" style="font-size: 0.675em;">(keine Postanschrift)</i>
    </p>

    <p><i class="editable">Der Check-In für <strong>Equippers Kids</strong> öffnet 15 Minuten vor dem Gottesdienst.</i></p>

    <p>
      <a href="https://www.google.com/maps/dir/?api=1&destination={{ page.locations[page.location].name | url_encode }}" target="_blank">Anfahrt mit Google Maps</a>
      <br />
      {% if page.bvg_link != '' %}<a href="{{ page.locations[page.location].bvg_link }}" target="_blank">Anfahrt mit BVG</a>{% endif %}
    </p> -->
  </div>
  <div style="display:block;width:3em;margin:0 auto;border-bottom:1px solid #353231" class="padding-vertical"></div>
  <div class="content text-center">
    <p class="editable text-max-width">Bei Equippers sind wir ein Haufen guter Freunde, die sich gegenseitig anfeuern, höher mit Gott zu gehen. Unsere Mission ist es, Menschen durch den Glauben an Jesus Christus für das Leben auszurüsten.</p>

    <p>
      <a class="button outline" href="/berlin/about">Mehr über uns</a>
    </p>
  </div>
</section>

<section class="communities padding-vertical">
  <div class="content">
    <h1 class="editable">
      Werde Teil der Familie
    </h1>
    <div class="grid">
      {% for community in page.communities %}
        <a href="{{ community.goes_to }}" class="card">
          <div class="img" style="background-image: url('{{ community.image }}')"></div>
          <div class="title">{{ community.title }}</div>
        </a>
      {% endfor %}
    </div>
  </div>
</section>

{% if page.event_promos %}
<section class="dark events padding-vertical">
  <div class="content">
    <h1 class="editable">Events</h1>

    <div class="grid">
    {% for promo in page.event_promos %}
      <a {% if promo.goes_to %}href="{{ promo.goes_to }}"{% endif %} class="card image-only padding-vertical">
        <div class="img" style="background-image: url('{{ promo.image }}')" title="{{ promo.title }}"></div>
        <div class="subtitle">{{ promo.subtitle }}</div>
      </a>
    {% endfor %}
    </div>
  </div>
</section>
{% endif %}

{% assign events_in_future = page.events | where_exp: 'date', 'date > site.time' | sort: 'date' %}

{% if events_in_future.size > 0 %}
<section class="padding-vertical">
  <div class="content">
    <h1 class="editable">Was demnächst bei uns ansteht</h1>
    {% include events.html events=events_in_future %}
  </div>
</section>
{% endif %}

<section class="padding-top">
  <div class="content">
    <h1 class="editable">Bleibe auf dem Laufenden</h1>
    <p class="editable gray-color">
      Über soziale Medien und unseren Newsletter informieren wir dich über alle unsere Events und mehr.
      Auf unserem Podcast kannst du unsere Predigten nachhören.
    </p>
  </div>
  {% include squares.html squares=page.connect %}
</section>

<section class="dark promos">
  {% for promo in page.promos %}
    <a href="{{ promo.link }}" class="square {% if promo.overlay != false %}overlay strength-6{% endif %}" style="background-image: url('{{ promo.background_image }}')">
      <h2 class="uppercase no-margin">{{ promo.title }}</h2>
      <p class="no-margin">{{ promo.subtitle }}</p>
    </a>
  {% endfor %}
</section>
