---
title: Kleingruppen bei Equippers Berlin
aliases:
  - /kleingruppen
hero:
  html: <h1>Kleingruppen</h1>
  image: /uploads/egroups-hero.jpg
  image_position: center 25%
email:
  admins: jonathan.stichbury@equippers.de,nzjonyemail@gmail.com
  subject: equippers.de - Kleingruppenanmeldung test
smallgroups:
disabledgroups:
  -
    id: marcundregine
    name: 'Go Wedding!'
    leader: 'Regine & Marc'
    target: gemischt
    description: 'Gemeinschaft, gemeinsames Abendessen, Bibelstudium zu einem Buch der Bibel'
    date: 'dienstags, 19 Uhr'
    location: Berlin-Gesundbrunnen
    max: 10
    full: false
    lat: 52.5657462
    lng: 13.3910762
    img: sina.png
    email: nzjonyemail@gmail.com
  -
    id: arrive
    name: Arrive
    leader: 'Dirk & Tine'
    target: 'Familien mit Kindern'
    description: 'Zuhören, Reden, Beten, Lachen, Essen- Thema, Kinder spielen. Wir starten mit einem Abendessen, beten und fokussieren uns auf die Eltern - deren Erfahrungen, Probleme, Wünsche. Wir wünschen uns, dass die Teilnehmer bei uns "ANKOMMEN". Die Kinder sollen sich wohlfühlen und Freundschaften ausbauen.'
    date: 'jeden 2. Freitag Abend'
    location: Potsdam
    max: 8
    full: false
    img: dirk-tine.jpg
    lat: 52.3914817
    lng: 13.0665398
    email: nzjonyemail@gmail.com
  -
    id: welcome
    name: Recharge
    leader: 'Jonathan & Patricia'
    img: benji.jpg
    target: 'Gemischt, Kinder willkommen'
    description: 'Gemeinsames Abendessen, Austausch zu einen Abschnitt aus der Bibel und Zeit für Gebet.'
    date: 'dienstags, 18-21 Uhr'
    location: Berlin-Steglitz
    max: 8
    full: true
    lat: 52.4483983
    lng: 13.3538632
    email: nzjonyemail@gmail.com
  -
    id: vision
    name: 'Gewohnheiten und Ziele'
    leader: Gerda
    target: Jedermann
    description: 'Gewohnheiten und Ziele sind entscheidend für ein erfolgreiches Leben. Gott möchte, dass du erfolgreich bist.'
    date: 'dienstags, 17 Uhr (1,5 bis 2 Stunden)'
    location: Gemeinderäume
    max: 10
    full: false
    img: sina.png
    lat: 52.486418
    lng: 13.322284
    email: nzjonyemail@gmail.com
  -
    id: leiter
    name: 'Leiterschaftspotential entdecken und fördern'
    leader: Jürgen
    target: alle
    description: 'John Maxwell Leiterschaftstraining'
    date: 'dienstags, 17 Uhr'
    location: Gemeinderäume
    max: 10
    full: false
    lat: 52.485438
    lng: 13.320278
    img: juergen.jpg
    email: nzjonyemail@gmail.com
  -
    id: prayer
    name: Start
    leader: 'Markus & Dorle'
    target: 'Für alle, die ihre Beziehung zu Gott vertiefen wollen oder auch einfach nur mehr über ihn erfahren möchten.'
    description: 'Der Abend richtet sich an die Menschen, die ihr Lebensfundament stärken wollen und ihren Glauben an Jesus vertiefen möchten.'
    date: 'montags, 20.00 Uhr'
    location: 'Gemeinde / Seminarraum'
    max: 15
    full: false
    lat: 52.485712
    lng: 13.322317
    img: lukas.jpg
    email: nzjonyemail@gmail.com
---

{% include hero.html options=page.hero %}

<article>
  <section class="editable content">
    <h1>Wir sind eine kleine Kirche mit vielen Leuten</h1>
    <p>Unsere Kleingruppen sind neben dem Gottesdienst eine gute Möglichkeit, tolle Menschen zu treffen, Spaß zu haben, etwas miteinander zu unternehmen, Herausforderungen und Erlebnisse zu teilen und gemeinsam ins Gebet zu gehen. Pro Kalenderjahr haben wir zwei KG-Saisons mit verschiedenen Themen. Dabei ist bestimmt eine, die zu dir passt. Nach jeder Saison bilden sich neue Gruppen mit neuen Inhalten.</p>
    <p>Im Moment sind wir mitten in einer Kleingruppen-Saison. Wenn du den Startschuss verpasst hast oder aus irgendwelchen Gründen gerade nicht dabei sein kannst, kein Problem. Mit Beginn der nächsten Saison bietet sich dir eine neue Chance. Also merk dir schon mal vor:</p>
    <h4 class="uppercase">Nächste Kleingruppen-Saison: 17. September bis 9. Dezember.</h4>
    <p>Hast du Fragen zu unseren Kleingruppen, dann wende dich an uns: kleingruppe@equippers.de. Wir kommen gern mit dir in Kontakt. Wenn du in der nächsten Saison eine eigene Kleingruppe anbieten möchtest, sprich uns gern sonntags nach dem Gottesdienst persönlich oder am Info-Punkt an.</p>
  </section>

  <section>
    {% if page.smallgroups.size > 0 %}
    <p style="text-align:center;margin: 2em 0 0.5em;"><a href="#center-map" id="center-map" onclick="return false;">Karte zentrieren</a></p>
    <div id="gmap" style="width:100%; height:30em;margin-bottom:1em"></div>
    {% endif %}
  </section>

  <section class="smallgroups padding-vertical">
    <div class="content">
      <div class="s-group-grid">
        {% for group in page.smallgroups %}
          <div class="s-group">
            <h4>{{ group.name }}</h4>
            <p>{{ group.date }}<br>Ort: <a href="#gmap" id="location-{{ group.id }}-1">{{ group.location }}</a>{% if group.full %}<br>Keine Plätze mehr!{% endif %}</p>
            <button class="button outline" href="https://google.com" onclick="toggleModal('group-modal-{{ group.id }}', 'on'); return false;">
              Melde dich an!
            </button>
          </div>
        {% endfor %}
      </div>
    </div>
</section>

<div id="modal-bg"></div>

{% for g in page.smallgroups %}
<div class="modal" id="group-modal-{{ g.id }}">
    <div class="modal-content">
        <div class="modal-close">X</div>
        <h5>{{ g.name }}</h5>
        {% if g.img %}<img style="max-width:16rem" src="{{ page.route }}/uploads/smallgroups/{{ g.img }}" alt="Profile">{% endif %}
        <p>
            <strong>Beschreibung:</strong> {{ g.description }}<br>
            <strong>Leiter:</strong> {{ g.leader }}<br>
            <strong>Zielgruppe:</strong> {{ g.target }}<br>
            <strong>Zeit:</strong> {{ g.date }}<br>
            <strong>Ort:</strong> <a href="#gmap" id="location-{{ g.id }}-2">{{ g.location }}</a><br>
            {% if g.max %}<strong>Maximale Teilnehmerzahl:</strong> {{ g.max }} {% endif %}
        </p>
        {% if g.full %}<p>Keine Plätze mehr!</p>{% endif %}
        <form method="post" id="group-form-{{ g.id }}" action="/berlin/kleingruppen">
            <legend>Kontaktiere den Leiter:</legend>
            <label>
                Dein Name:
                <input type="text" name="Name">
            </label>
            <label>
                Email-Adresse:
                <input type="email" name="email">
            </label>
            <label style="margin-bottom:0;">
                Nachricht:
                <textarea name="Nachricht" rows="5"></textarea>
            </label>

            <input type="hidden" name="Gewählte Gruppe" value="{{g.name}}">
            <input type="hidden" name="_cc" value="{{ page.email.admins }}">
            <input type="hidden" name="_to" value="{{ g.email|safe_email }}">
            <input type="hidden" name="_subject" value="{{ page.email.subject }}">

            <input class="btn" type="button" value="Abbrechen" onclick="toggleModal('group-modal-{{ g.id }}', 'off');">
            <input class="btn btn-blue" type="submit" value="Senden">
            {% comment %}
            TODO: Perhaps try a google captcha
            {% endcomment %}
            <input type="text" name="_gotcha" style="display: none;">
        </form>
    </div>
</div>
{% endfor %}
</article>

<script>
  var markers = [];
  {% for g in page.smallgroups %}
  {% if g.lat %}
  markers.push({
      name: '{{ g.name }}',
      leader: '{{ g.leader }}',
      modalId: 'group-modal-{{ g.id }}',
      locationId: 'location-{{ g.id }}',
      pos: { lat: {{ g.lat }},lng: {{ g.lng }} }
  });
  {% endif %}
  {% endfor %}

  console.table(markers);

  function initMap() {
      var bounds = new google.maps.LatLngBounds();

      var berlin = { lat: 52.52000659999999, lng: 13.404954 };
      var initState = {
          zoom: 10,
          center: berlin,
          disableDefaultUI: true,
          zoomControl: true
      };

      var map = new google.maps.Map(document.getElementById('gmap'), initState);

      markers.forEach(function (m) {
          var marker = new google.maps.Marker({
              position: m.pos,
              map: map
          });

          var markerPos = new google.maps.LatLng(m.pos.lat, m.pos.lng);
          bounds.extend(markerPos);

          var infowindow = new google.maps.InfoWindow({
              content: '<strong>Name:</strong> ' + m.name + '<br><strong>Leiter:</strong> ' + m.leader
          });

          google.maps.event.addListener(marker, 'click', function () {
              toggleModal(m.modalId, 'on');
          });
          google.maps.event.addListener(marker, 'mouseover', function() {
              infowindow.open(map, this);
          });
          google.maps.event.addListener(marker, 'mouseout', function() {
              infowindow.close();
          });

          function showLocation(){
              toggleModal(m.modalId, 'off');
              map.setCenter(markerPos);
              map.setZoom(13);
          }
          document.getElementById( m.locationId + "-1" ).addEventListener( 'click', showLocation );
          document.getElementById( m.locationId + "-2" ).addEventListener( 'click', showLocation );
      });

      map.fitBounds(bounds);

      function centerMap() {
          // map.setCenter(initState.center);
          // map.setZoom(initState.zoom);
          map.fitBounds(bounds);
      }

      document.getElementById('center-map').addEventListener('click', function () {
          centerMap();
          return false;
      });
  }
  function toggleModal(id, status)
  {
    try { // just in case the modal background div is missing
        document.getElementById('modal-bg').style.display = (status == 'on') ? 'block' : 'none';
    } catch (e) {};
    document.getElementById(id).style.display = (status == 'on') ? 'block' : 'none';
    var st = document.body.scrollTop || document.documentElement.scrollTop;
    var ch = document.documentElement.clientHeight;
    var mh = document.getElementById(id).clientHeight;
    t = (mh > ch) ? st + 10 : st + Math.round((ch - mh)/2);
    document.getElementById(id).style.top = t + 'px';
  }

  // toggle modals off on modal background or modal close click
  var modalList = document.querySelectorAll('.modal, .modal-close');
  for (var i = 0; i < modalList.length; i++) {
      if (modalList[i].classList[0] == 'modal-close') {
          modalList[i].onclick = function() { toggleModal(this.parentNode.parentNode.id, 'off'); }
      } else {
          modalList[i].onclick = function() { toggleModal(this.id, 'off'); }
      }
  }

  // to support IE <= 8
  function stopPropagation(e) {
      var evt = e || window.event;
      if (typeof evt.stopPropagation != "undefined") {
          evt.stopPropagation();
      } else {
          evt.cancelBubble = true;
      }
  }

  // dont toggle modals off, if modal content is clicked
  var modalContentList = document.querySelectorAll('.modal-content');
  for (var i = 0; i < modalContentList.length; i++) {
      modalContentList[i].onclick = function (e) {
          stopPropagation(e);
      }
  }

  // Helper function to get form data in the supported format
  function getFormDataString(formEl) {
    var formData = new FormData(formEl),
        data = [];

    for (var keyValue of formData) {
      data.push(encodeURIComponent(keyValue[0]) + "=" + encodeURIComponent(keyValue[1]));
    }

    return data.join("&");
  }

  var ids = [ {% for g in page.smallgroups %} "{{ g.id }}", {% endfor %} ];

  for(var i = 0; i < ids.length; i++)
  {
    // We use a closure to properly capture i.
    (function(){
      // Fetch the form element
      var formEl = document.getElementById("group-form-" + ids[i]);
      var modalId = "group-modal-" + ids[i];

      // Override the submit event
      formEl.addEventListener("submit", function (e) {
        e.preventDefault();

        /*
        if (grecaptcha) {
          var recaptchaResponse = grecaptcha.getResponse();
          if (!recaptchaResponse) { // reCAPTCHA not clicked yet
            return false;
          }
        }*/

        var request = new XMLHttpRequest();

        request.addEventListener("load", function () {
          if (request.status === 302 || // CloudCannon redirects on success
              request.status == 200 ) { // Or testing showed that it didn't
            alert("Nachricht gesendet.");
          }
          else {
            alert("Fehler beim Senden der Nachricht. Bitte versuchen Sie es später erneut");
          }
          toggleModal(modalId, 'off');
        });

        request.open(formEl.method, formEl.action);
        request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        request.send(getFormDataString(formEl));
      });
    })();
  }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBH1tkp47YpmWonbvUZiTBcUogkBuTjFgk&callback=initMap"></script>


