---
title: Kleingruppen bei Equippers Berlin
aliases:
  - /kleingruppen
hero:
  html: <h1>Kleingruppen</h1>
  image: /uploads/egroups-hero.jpg
  image_position: center 25%
email:
  admins: kleingruppe@equippers.de
  subject: equippers.de - Kleingruppenanmeldung test
smallgroups:
  -
    id: krabbel
    name: 'Krabbelkäfer'
    leader: 'Patricia'
    target: 'Mütter mit (voranging kleinen) Kindern'
    description: 'Wir wollen nicht nur unseren Minis ein gegenseitiges Kennenlernen ermöglichen, sondern auch als Mamas Zeit für Austausch, Gespräch und Gebet haben. All das in lockerer, offener Runde, zu der gerne immer eingeladen werden kann.'
    date: 'mittwochs, 10-12 Uhr'
    location: 'wechselnd, zentral entsprechend der Teilnehmerinnen'
    full: false
    lat: 52.4856848
    lng: 13.315365
    img: lundp.jpeg
    email: patricia.stichbury@equippers.de
  -
    id: befluegelt
    name: '#Fierce'
    leader: 'Sina und Salome'
    target: 'junge Frauen zwischen 18- 27 Jahren'
    description: 'Du möchtest entspannt in dein Wochenende starten? Spaßige Abende, an denen wir gemeinsam kochen, Spieleabende oder andere Aktionen planen? Gemeinsam mit anderen Gottes Gemeinschaft genießen, zusammen beten und quatschen? Dann bist Du bei uns genau richtig! Werde ein Teil unserer Kleingruppe! Wir freuen uns auf Dich.'
    date: 'zweiwöchig freitags, 19 Uhr'
    location: 'Kreuzberg, Spandau'
    max: 10
    img: sina-salome.jpg
    lat: 52.5346755
    lng: 13.1979155
    email: sinaschwenk123@gmail.com
  -
    id: fitvorgott
    name: 'Fit vor Gott'
    leader: 'Benji'
    date: 'mittwochs, 19 Uhr'
    description: 'Wir wollen körperlich und geistlich fit werden. Sport gibts draußen im Park, Kraft und/oder Ausdauer. Bierchen und lecker Essen gibts hinterher drinnen. Dabei haben wir Zeit über Themen zu reden, z.B. was uns der gute Matthäus so von Jesus mitgegeben hat. Wir sind Teil der jungen-Erwachsenen-Community von Equippers Berlin und somit wirds ab und zu auch mal community-Abende geben zu denen du herzlichst eingeladen bist.'
    target: 'Männer im Alter von 18-28 Jahren'
    location: 'Berlin Kreuzberg (sehr nah an Schöneberg)'
    lat: 52.4987777
    lng: 13.3908638
    img: benji.jpg
    email: muelli.benji@gmail.com
groupsyettobefinalized:
  -
    id: squashit
    name: 'Squash it'
    leader: 'Daniel und Jonathan'
    date: 'zweiwöchig mittwochs 17 Uhr'
    description: 'Wir wollen Squash spielen damit wir fit für den Reich Gottes sind.'
    target: 'Männer'
    location: 'Lankwitz'
    lat: 52.4334168
    lng: 13.3566622
    img: squash.jpg
    email: jonathan.stichbury@equippers.de
---

{% include hero.html options=page.hero %}

<article>
  <section class="editable content">
    <h1>Wir sind eine kleine Kirche mit vielen Leuten</h1>
    <p>Unsere Kleingruppen sind neben dem Gottesdienst eine gute Möglichkeit, tolle Menschen zu treffen, Spaß zu haben, etwas miteinander zu unternehmen, Herausforderungen und Erlebnisse zu teilen und gemeinsam ins Gebet zu gehen. Pro Kalenderjahr haben wir zwei KG-Saisons mit verschiedenen Themen. Dabei ist bestimmt eine, die zu dir passt. Nach jeder Saison bilden sich neue Gruppen mit neuen Inhalten.</p>
    <p>Im Moment sind wir mitten in einer Kleingruppen-Saison. Wenn du den Startschuss verpasst hast oder aus irgendwelchen Gründen gerade nicht dabei sein kannst, kein Problem. Mit Beginn der nächsten Saison bietet sich dir eine neue Chance. Also merk dir schon mal vor:</p>
    <h4 class="uppercase">Nächste Kleingruppen-Saison: 17. September bis 9. Dezember.</h4>
    <p>Hast du Fragen zu unseren Kleingruppen, dann wende dich an uns: kleingruppe@equippers.de. Wir kommen gern mit dir in Kontakt. Wenn du in der nächsten Saison eine eigene Kleingruppe anbieten möchtest, sprich uns gern sonntags nach dem Gottesdienst persönlich oder am Info-Punkt an.</p>
  </section>

  <section>
    {% if page.smallgroups.size > 0 %}
    <p style="text-align:center;margin: 2em 0 0.5em;"><a href="#center-map" id="center-map" onclick="return false;">Karte zentrieren</a></p>
    <div id="gmap" style="width:100%; height:30em;margin-bottom:1em"></div>
    {% endif %}
  </section>

  <section class="smallgroups padding-vertical">
    <div class="content">
      <div class="s-group-grid">
        {% for group in page.smallgroups %}
          <div class="s-group">
            <h4>{{ group.name }}</h4>
            <p>{{ group.date }}<br>Ort: <a href="#gmap" id="location-{{ group.id }}-1">{{ group.location }}</a>{% if group.full %}<br>Keine Plätze mehr!{% endif %}</p>
            <button class="button outline" href="https://google.com" onclick="toggleModal('group-modal-{{ group.id }}', 'on'); return false;">
              Melde dich an!
            </button>
          </div>
        {% endfor %}
      </div>
    </div>
</section>

<div id="modal-bg"></div>

{% for g in page.smallgroups %}
<div class="modal" id="group-modal-{{ g.id }}">
    <div class="modal-content">
        <div class="modal-close">X</div>
        <h5>{{ g.name }}</h5>
        {% if g.img %}<img style="max-width:16rem" src="{{ page.route }}/uploads/smallgroups/{{ g.img }}" alt="Profile">{% endif %}
        <p>
            <strong>Beschreibung:</strong> {{ g.description }}<br>
            <strong>Leiter:</strong> {{ g.leader }}<br>
            <strong>Zielgruppe:</strong> {{ g.target }}<br>
            <strong>Zeit:</strong> {{ g.date }}<br>
            <strong>Ort:</strong> <a href="#gmap" id="location-{{ g.id }}-2">{{ g.location }}</a><br>
            {% if g.max %}<strong>Maximale Teilnehmerzahl:</strong> {{ g.max }} {% endif %}
        </p>
        {% if g.full %}<p>Keine Plätze mehr!</p>{% endif %}
        <form method="post" id="group-form-{{ g.id }}" action="/berlin/kleingruppen">
            <legend>Kontaktiere den Leiter:</legend>
            <label>
                Dein Name:
                <input type="text" name="Name">
            </label>
            <label>
                Email-Adresse:
                <input type="email" name="email">
            </label>
            <label style="margin-bottom:0;">
                Nachricht:
                <textarea name="Nachricht" rows="5"></textarea>
            </label>

            <input type="hidden" name="Gewählte Gruppe" value="{{g.name}}">
            <input type="hidden" name="_cc" value="{{ page.email.admins }}">
            <input type="hidden" name="_to" value="{{ g.email|safe_email }}">
            <input type="hidden" name="_subject" value="{{ page.email.subject }}">

            <input class="btn" type="button" value="Abbrechen" onclick="toggleModal('group-modal-{{ g.id }}', 'off');">
            <input class="btn btn-blue" type="submit" value="Senden">
            {% comment %}
            TODO: Perhaps try a google captcha
            {% endcomment %}
            <input type="text" name="_gotcha" style="display: none;">
        </form>
    </div>
</div>
{% endfor %}
</article>

<script>
  var markers = [];
  {% for g in page.smallgroups %}
  {% if g.lat %}
  markers.push({
      name: '{{ g.name }}',
      leader: '{{ g.leader }}',
      modalId: 'group-modal-{{ g.id }}',
      locationId: 'location-{{ g.id }}',
      pos: { lat: {{ g.lat }},lng: {{ g.lng }} }
  });
  {% endif %}
  {% endfor %}

  //console.table(markers);

  function initMap() {
      var bounds = new google.maps.LatLngBounds();

      var berlin = { lat: 52.52000659999999, lng: 13.404954 };
      var initState = {
          zoom: 10,
          center: berlin,
          disableDefaultUI: true,
          zoomControl: true
      };

      var map = new google.maps.Map(document.getElementById('gmap'), initState);

      markers.forEach(function (m) {
          var marker = new google.maps.Marker({
              position: m.pos,
              map: map
          });

          var markerPos = new google.maps.LatLng(m.pos.lat, m.pos.lng);
          bounds.extend(markerPos);

          var infowindow = new google.maps.InfoWindow({
              content: '<strong>Name:</strong> ' + m.name + '<br><strong>Leiter:</strong> ' + m.leader
          });

          google.maps.event.addListener(marker, 'click', function () {
              toggleModal(m.modalId, 'on');
          });
          google.maps.event.addListener(marker, 'mouseover', function() {
              infowindow.open(map, this);
          });
          google.maps.event.addListener(marker, 'mouseout', function() {
              infowindow.close();
          });

          function showLocation(){
              toggleModal(m.modalId, 'off');
              map.setCenter(markerPos);
              map.setZoom(13);
          }
          document.getElementById( m.locationId + "-1" ).addEventListener( 'click', showLocation );
          document.getElementById( m.locationId + "-2" ).addEventListener( 'click', showLocation );
      });

      map.fitBounds(bounds);

      function centerMap() {
          // map.setCenter(initState.center);
          // map.setZoom(initState.zoom);
          map.fitBounds(bounds);
      }

      document.getElementById('center-map').addEventListener('click', function () {
          centerMap();
          return false;
      });
  }
  function toggleModal(id, status)
  {
    try { // just in case the modal background div is missing
        document.getElementById('modal-bg').style.display = (status == 'on') ? 'block' : 'none';
    } catch (e) {};
    document.getElementById(id).style.display = (status == 'on') ? 'block' : 'none';
    var st = document.body.scrollTop || document.documentElement.scrollTop;
    var ch = document.documentElement.clientHeight;
    var mh = document.getElementById(id).clientHeight;
    t = (mh > ch) ? st + 10 : st + Math.round((ch - mh)/2);
    document.getElementById(id).style.top = t + 'px';
  }

  // toggle modals off on modal background or modal close click
  var modalList = document.querySelectorAll('.modal, .modal-close');
  for (var i = 0; i < modalList.length; i++) {
      if (modalList[i].classList[0] == 'modal-close') {
          modalList[i].onclick = function() { toggleModal(this.parentNode.parentNode.id, 'off'); }
      } else {
          modalList[i].onclick = function() { toggleModal(this.id, 'off'); }
      }
  }

  // to support IE <= 8
  function stopPropagation(e) {
      var evt = e || window.event;
      if (typeof evt.stopPropagation != "undefined") {
          evt.stopPropagation();
      } else {
          evt.cancelBubble = true;
      }
  }

  // dont toggle modals off, if modal content is clicked
  var modalContentList = document.querySelectorAll('.modal-content');
  for (var i = 0; i < modalContentList.length; i++) {
      modalContentList[i].onclick = function (e) {
          stopPropagation(e);
      }
  }

  // Helper function to get form data in the supported format
  function getFormDataString(formEl) {
    var formData = new FormData(formEl),
        data = [];

    for (var keyValue of formData) {
      data.push(encodeURIComponent(keyValue[0]) + "=" + encodeURIComponent(keyValue[1]));
    }

    return data.join("&");
  }

  var ids = [ {% for g in page.smallgroups %} "{{ g.id }}", {% endfor %} ];

  for(var i = 0; i < ids.length; i++)
  {
    // We use a closure to properly capture i.
    (function(){
      // Fetch the form element
      var formEl = document.getElementById("group-form-" + ids[i]);
      var modalId = "group-modal-" + ids[i];

      // Override the submit event
      formEl.addEventListener("submit", function (e) {
        e.preventDefault();

        /*
        if (grecaptcha) {
          var recaptchaResponse = grecaptcha.getResponse();
          if (!recaptchaResponse) { // reCAPTCHA not clicked yet
            return false;
          }
        }*/

        var request = new XMLHttpRequest();

        request.addEventListener("load", function () {
          if (request.status === 302 || // CloudCannon redirects on success
              request.status == 200 ) { // Or testing showed that it didn't
            alert("Nachricht gesendet.");
          }
          else {
            alert("Fehler beim Senden der Nachricht. Bitte versuche es später nochmal.");
          }
          toggleModal(modalId, 'off');
        });

        request.open(formEl.method, formEl.action);
        request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        request.send(getFormDataString(formEl));
      });
    })();
  }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBH1tkp47YpmWonbvUZiTBcUogkBuTjFgk&callback=initMap"></script>


