---
title: Kleingruppen bei Equippers Berlin
aliases:
  - /kleingruppen
hero:
  html: <h1>Kleingruppen</h1>
  image: /uploads/egroups-hero.jpg
  image_position: center 25%
email:
  admins: patricia.stichbury@equippers.de,kleingruppe@equippers.de
  subject: equippers.de - Kleingruppenanmeldung
smallgroups:
  -
    id: krabbel
    name: 'Krabbelkäfer'
    leader: 'Patricia'
    target: 'Mütter mit (voranging kleinen) Kindern'
    description: 'Wir wollen nicht nur unseren Minis ein gegenseitiges Kennenlernen ermöglichen, sondern auch als Mamas Zeit für Austausch, Gespräch und Gebet haben. All das in lockerer, offener Runde, zu der gerne immer eingeladen werden kann.'
    date_text: 'mittwochs, 10-12 Uhr'
    location: 'wechselnd, wird mit Teilnehmerinnen abgestimmt'
    full: false
    lat: 52.4856848
    lng: 13.315365
    img: lundp.jpeg
    email: 'patricia.stichbury@equippers.de'
  -
    id: befluegelt
    name: '#Fierce'
    leader: 'Sina und Salome'
    target: 'junge Frauen zwischen 18-27 Jahren'
    description: 'Du möchtest entspannt in dein Wochenende starten? Spaßige Abende, an denen wir gemeinsam kochen, Spieleabende oder andere Aktionen planen? Gemeinsam mit anderen Gottes Gemeinschaft genießen, zusammen beten und quatschen? Dann bist Du bei uns genau richtig! Werde ein Teil unserer Kleingruppe! Wir freuen uns auf Dich.'
    date_text: 'zweiwöchig freitags, 19 Uhr'
    location: 'Kreuzberg, Spandau'
    img: sina-salome.jpg
    lat: 52.5346755
    lng: 13.1979155
    email: 'sinaschwenk123@gmail.com'
  -
    id: fitvorgott
    name: 'Fit vor Gott'
    leader: 'Benji'
    date_text: 'mittwochs, 19 Uhr'
    description: 'Wir wollen körperlich und geistlich fit werden. Sport gibts draußen im Park, Kraft und/oder Ausdauer. Bierchen und lecker Essen gibts hinterher drinnen. Dabei haben wir Zeit über Themen zu reden, z.B. was uns der gute Matthäus so von Jesus mitgegeben hat. Wir sind Teil der jungen-Erwachsenen-Community von Equippers Berlin und somit wirds ab und zu auch mal community-Abende geben zu denen du herzlichst eingeladen bist.'
    target: 'Männer im Alter von 18-28 Jahren'
    location: 'Berlin Kreuzberg (sehr nah an Schöneberg)'
    lat: 52.4987777
    lng: 13.3908638
    img: benji.jpg
    email: 'muelli.benji@gmail.com'
  -
    id: squashit
    name: 'Squash it'
    leader: 'Andreas und Jonathan'
    date_text: 'zweiwöchig dienstags 18 Uhr'
    description: 'Wir wollen Squash spielen im <a href="http://preussenpark-berlin.de">Preußenpark Berlin</a>, damit wir fit sind für das Reich Gottes. Eine Einheit (Ein Feld für 45 Minuten) kostet 18Euro, die unter den Mitspieler aufgeteilt werden. Danach werden wir gemeinsam essen und füreinander beten.'
    target: 'Männer'
    location: 'Lankwitz'
    lat: 52.4334168
    lng: 13.3566622
    img: squash.jpg
    email: 'jonathan.stichbury@equippers.de'
  -
    id: hannaundjasmin
    name: 'Denn nur zusammen ist man nicht allein'
    leader: 'Hanna und Jasmin'
    date_text: 'dienstags, 19.30 Uhr'
    description: 'Wir lieben es gemeinsam unterwegs zu sein, das Leben miteinander zu teilen. Wie oft hat man heute in dieser manchmal sehr anonymen Gesellschaft das Gefühl, man wäre alleine. ... ist aber nicht so! Weil wenn wir zusammen sind, dann ist keiner mehr allein. Wir möchten zusammen sein, Gemeinschaft haben, reden, quatschen, lachen, wenn’s grad so ist miteinander weinen, füreinander beten und einstehen, einander tragen, ermutigen, herausfordern und unterstützen, da und so wie’s jede einzelne grad braucht. Werde auch du Teil unserer Kleingruppe!'
    target: 'Frauen'
    location: 'Zeuthen'
    email: 'hanna.zobel@equippers.de'
    lat: 52.3492501
    lng: 13.6265115
  -
    id: men
    name: 'Junge Männer'
    leader: Lukas
    target: 'Männer'
    description: 'Wechselnde Aktionen (Sport, Billard, Grillen, Pokern) mit Austausch und Input zu dem was Männer bewegt.... und dann weiter wie gehabt.'
    date_text: 'mittwochs, 19 Uhr und/oder nach gemeisamer Absprache'
    location: 'wechselnd, zentral und südlich'
    full: false
    lat: 52.4725363
    lng: 13.331377
    img: lukas.jpg
    email: 'lukas.zobel@equippers.de'
  -
    id: mddunn
    name: 'Prayer and Fellowship Jesus im Alltag (er)leben!'
    leader: 'Dorle und Markus'
    target: 'Alle, die Interesse daran haben, mehr aus ihrem Alltag zu machen!'
    description: 'Wir beginnen mit einem kleinen Abendbrot. Motto: „Jeder bringt etwas mit!“ Neben der Gemeinschaft und dem Austausch zum Thema „wie geht es uns“ wollen wir gemeinsam lernen, wie wir mit Jesus unseren Alltag besser gestalten können. Gebet für einander sollen die Abende abrunden.'
    date_text: 'montags zwischen 19.30 Uhr und 20.00 Uhr'
    location: 'Mitte'
    full: false
    lat: 52.5191787
    lng: 13.405172
    img: dunns.jpg
    email: 'mddunn@freenet.de'
  -
    id: burgers
    name: 'Bars & Burger Connect'
    leader: 'Bastian'
    target: 'Männer & Frauen jeden Alters'
    description: 'Gegrilltes Fleisch, frisches Gemüse und eine leckere Sauce – Ich liebe es zu essen! Gemeinsam wollen wir die Kleingruppe nutzen, um zusammen gute Burger zu essen, vielleicht auch mal selber zusammenstellen und grillen, eine gute Zeit zu verbringen und uns auszutauschen! Ich freue mich auf gute Mitesser und schöne Abende! Einen guten Hunger solltest du mitbringen und am besten kein Veganer sein.'
    date_text: 'mittwochs 19.15 Uhr'
    location: 'Unterschiedliche Bars und Burger-Läden in Berlin'
    full: false
    lat: 52.5191787
    lng: 13.405172
    img: bastian.jpg
    email: 'bastian.bartnick@equippers.de'
  -
    id: chill
    name: 'CHILL-TALK-GROW – Stammtisch'
    leader: 'Lina'
    target: 'Männer & Frauen jeden Alters'
    description: 'Du bist neu in der Church oder neu im Glauben an Jesus Christus? Dann bist du bei mir richtig! Wir wollen uns gegenseitig besser kennenlernen und gemeinsam in dem Glauben an Jesus wachsen und uns gegenseitig darin bestärken ganze Sache mit Gott zu machen. </br> Dazu treffen wir uns in einem Café oder Restaurant und werden eine gute Zeit miteinander verbringen.'
    date_text: 'dienstags, 19.15 Uhr'
    location: 'Friedenau'
    full: false
    lat: 52.4725363
    lng: 13.331377
    img:
    email: 'lina.bartnick@gmail.com'
  -
    id: sb
    name: 'SHAPEBUCKS'
    leader: 'Bastian und Lina'
    target: 'Männer & Frauen jeden Alters'
    description: 'SHAPE ist ein QT-Programm. Wir kommen 14tägig montags um 8h in einem Café in der Stadt zusammen und lesen Teile in der Bibel. Das SHAPE-Programm geht mit uns durch die Textstelle und wir erleben Gottes Reden auf unterschiedliche Art und Weise.'
    date_text: 'zweiwöchig montags 8 Uhr'
    location: 'Berlin-Süd'
    full: false
    lat: 52.4758592
    lng: 13.365071
    img: bastian.jpg
    email: 'bastian.bartnick@equippers.de'
  -
    id: wiegott
    name: 'Wie Gott durch Frauen Geschichte schreibt'
    leader: 'Csilla und Theresa'
    target: 'Frauen'
    description: 'Wenn wir uns mit biblischen Personen auseinandersetzen, können wir immer wieder feststellen und staunen, wie ähnlich deren Umstände und Herausforderungen, aber auch Hoffnungen und Träume zu unseren sind. Zeiten ändern sich, aber Menschen bleiben in ihrem tiefsten Herzen doch immer gleich - und Gott sowieso.
Weil Gott auch mit Frauen Geschichte schreibt, möchten wir uns in unserem Kleingruppe Zeit nehmen, um uns mal intensiver mit einigen Frauen aus der Bibel auseinanderzusetzen. Die Themen, die die Frauen damals bewegten, sind auch heute noch aktuell: Eifersucht, Ehrgeiz, Minderwertigkeitskomplexe, Sorgen, Ängste, Liebe, Partnerschaft, Erziehung ...
Wenn du also Lust hast, gemeinsam mit uns (neu) zu entdecken, wie Frau-Sein aus biblischer Sicht gedacht ist, dann komm doch einfach mit dazu!'
    date_text: 'dienstags, 17.00-19.30 Uhr'
    location: 'Steglitz-Zehlendorf'
    full: false
    lat: 52.4549008
    lng: 13.3201871
    img: csilla.jpg
    img2: theresa.jpg
    email: 'tkwast@kabelmail.de'
_template:
  -
    id: 
    name: ''
    leader: ''
    target: ''
    description: ''
    date: ''
    location: ''
    full: false
    lat: 
    lng:
    img:
    email: ''
---

{% include hero.html options=page.hero %}

<article>
  <section class="editable content">
    <h1>Gemeinsam ganze Sache mit Gott machen.</h1>
    <p>Kleingruppen sind ein Teil des Lebens bei Equippers. Hier verbindest du dich mit neuen Freunden, hast Gemeinschaft und erlebst Ermutigung in deinem Glauben an Jesus Christus. Zusammen geht das leichter - wir laden dich ein dabei zu sein!</p>
    <h4 class="uppercase">Die nächste Saison beginnt am 17. September und endet am 9. Dezember.</h4>
    <p>Stöbere doch durch die unten stehenden Gruppen und melde dich direkt über den entsprechenden Link an. Gern kannst du auch nach dem Gottesdienst am Infopunkt auf uns zukommen und dich registrieren. Nach der Anmeldung schickt dir dein Kleingruppenleiter eine E-Mail mit einer Bestätigung und der genauen Adresse.</p>
    <p>Wir freuen uns auf dich.</p>
  </section>

  <section>
    {% if page.smallgroups.size > 0 %}
    <p style="text-align:center;margin: 2em 0 0.5em;"><a href="#center-map" id="center-map" onclick="return false;">Karte zentrieren</a></p>
    <div id="gmap" style="width:100%; height:30em;margin-bottom:1em"></div>
    {% endif %}
  </section>

  <section class="smallgroups padding-vertical">
    <div class="content">
      <div class="s-group-grid">
        {% for group in page.smallgroups %}
          <div class="s-group">
            <h4>{{ group.name }}</h4>
            <p>{{ group.date_text }}<br>Ort: <a href="#gmap" id="location-{{ group.id }}-1">{{ group.location }}</a>{% if group.full %}<br>Keine Plätze mehr!{% endif %}</p>
            <button class="button outline" href="https://google.com" onclick="toggleModal('group-modal-{{ group.id }}', 'on'); return false;">
              Melde dich an!
            </button>
          </div>
        {% endfor %}
      </div>
    </div>
</section>

<div id="modal-bg"></div>

{% for g in page.smallgroups %}
<div class="modal" id="group-modal-{{ g.id }}">
    <div class="modal-content">
        <div class="modal-close">X</div>
        <h5>{{ g.name }}</h5>
        {% if g.img %}<img src="{{ page.route }}/uploads/smallgroups/{{ g.img }}" alt="Profile">{% endif %}
        {% if g.img2 %}<img src="{{ page.route }}/uploads/smallgroups/{{ g.img2 }}" alt="Profile2">{% endif %}
        <p>
            <strong>Beschreibung:</strong> {{ g.description }}<br>
            <strong>Leiter:</strong> {{ g.leader }}<br>
            <strong>Zielgruppe:</strong> {{ g.target }}<br>
            <strong>Zeit:</strong> {{ g.date_text }}<br>
            <strong>Ort:</strong> <a href="#gmap" id="location-{{ g.id }}-2">{{ g.location }}</a><br>
            {% if g.max %}<strong>Maximale Teilnehmerzahl:</strong> {{ g.max }} {% endif %}
        </p>
        {% if g.full %}<p>Keine Plätze mehr!</p>{% endif %}
        <form method="post" id="group-form-{{ g.id }}" action="/berlin/kleingruppen">
            <legend>Kontaktiere den Leiter:</legend>
            <label>
                Dein Name:
                <input type="text" name="Name">
            </label>
            <label>
                Email-Adresse:
                <input type="email" name="email">
            </label>
            <label style="margin-bottom:0;">
                Nachricht:
                <textarea name="Nachricht" rows="5"></textarea>
            </label>

            <input type="hidden" name="Gewählte Gruppe" value="{{g.name}}">
            <input type="hidden" name="_cc" value="{{ page.email.admins }}">
            <input type="hidden" name="_to" value="{{ g.email|safe_email }}">
            <input type="hidden" name="_subject" value="{{ page.email.subject }}">

            <input class="btn" type="button" value="Abbrechen" onclick="toggleModal('group-modal-{{ g.id }}', 'off');">
            <input class="btn btn-blue" type="submit" value="Senden">
            {% comment %}
            TODO: Perhaps try a google captcha
            Hint by Simon: Cloudcannon offers captchas (search in the docs)
            {% endcomment %}
            <input type="text" name="_gotcha" style="display: none;">
        </form>
    </div>
</div>
{% endfor %}
</article>

<script>
  var markers = [];
  {% for g in page.smallgroups %}
  {% if g.lat %}
  markers.push({
      name: '{{ g.name }}',
      leader: '{{ g.leader }}',
      modalId: 'group-modal-{{ g.id }}',
      locationId: 'location-{{ g.id }}',
      pos: { lat: {{ g.lat }},lng: {{ g.lng }} }
  });
  {% endif %}
  {% endfor %}

  //console.table(markers);

  function initMap() {
      var bounds = new google.maps.LatLngBounds();

      var berlin = { lat: 52.52000659999999, lng: 13.404954 };
      var initState = {
          zoom: 10,
          center: berlin,
          disableDefaultUI: true,
          zoomControl: true
      };

      var map = new google.maps.Map(document.getElementById('gmap'), initState);

      markers.forEach(function (m) {
          var marker = new google.maps.Marker({
              position: m.pos,
              map: map
          });

          var markerPos = new google.maps.LatLng(m.pos.lat, m.pos.lng);
          bounds.extend(markerPos);

          var infowindow = new google.maps.InfoWindow({
              content: '<strong>Name:</strong> ' + m.name + '<br><strong>Leiter:</strong> ' + m.leader
          });

          google.maps.event.addListener(marker, 'click', function () {
              toggleModal(m.modalId, 'on');
          });
          google.maps.event.addListener(marker, 'mouseover', function() {
              infowindow.open(map, this);
          });
          google.maps.event.addListener(marker, 'mouseout', function() {
              infowindow.close();
          });

          function showLocation(){
              toggleModal(m.modalId, 'off');
              map.setCenter(markerPos);
              map.setZoom(13);
          }
          document.getElementById( m.locationId + "-1" ).addEventListener( 'click', showLocation );
          document.getElementById( m.locationId + "-2" ).addEventListener( 'click', showLocation );
      });

      map.fitBounds(bounds);

      function centerMap() {
          // map.setCenter(initState.center);
          // map.setZoom(initState.zoom);
          map.fitBounds(bounds);
      }

      document.getElementById('center-map').addEventListener('click', function () {
          centerMap();
          return false;
      });
  }
  function toggleModal(id, status)
  {
    try { // just in case the modal background div is missing
        document.getElementById('modal-bg').style.display = (status == 'on') ? 'block' : 'none';
    } catch (e) {};
    document.getElementById(id).style.display = (status == 'on') ? 'block' : 'none';
    var st = document.body.scrollTop || document.documentElement.scrollTop;
    var ch = document.documentElement.clientHeight;
    var mh = document.getElementById(id).clientHeight;
    t = (mh > ch) ? st + 10 : st + Math.round((ch - mh)/2);
    document.getElementById(id).style.top = t + 'px';
  }

  // toggle modals off on modal background or modal close click
  var modalList = document.querySelectorAll('.modal, .modal-close');
  for (var i = 0; i < modalList.length; i++) {
      if (modalList[i].classList[0] == 'modal-close') {
          modalList[i].onclick = function() { toggleModal(this.parentNode.parentNode.id, 'off'); }
      } else {
          modalList[i].onclick = function() { toggleModal(this.id, 'off'); }
      }
  }

  // to support IE <= 8
  function stopPropagation(e) {
      var evt = e || window.event;
      if (typeof evt.stopPropagation != "undefined") {
          evt.stopPropagation();
      } else {
          evt.cancelBubble = true;
      }
  }

  // dont toggle modals off, if modal content is clicked
  var modalContentList = document.querySelectorAll('.modal-content');
  for (var i = 0; i < modalContentList.length; i++) {
      modalContentList[i].onclick = function (e) {
          stopPropagation(e);
      }
  }

  // Helper function to get form data in the supported format
  function getFormDataString(formEl) {
    var formData = new FormData(formEl),
        data = [];

    for (var keyValue of formData) {
      data.push(encodeURIComponent(keyValue[0]) + "=" + encodeURIComponent(keyValue[1]));
    }

    return data.join("&");
  }

  var ids = [ {% for g in page.smallgroups %} "{{ g.id }}", {% endfor %} ];

  for(var i = 0; i < ids.length; i++)
  {
    // We use a closure to properly capture i.
    (function(){
      // Fetch the form element
      var formEl = document.getElementById("group-form-" + ids[i]);
      var modalId = "group-modal-" + ids[i];

      // Override the submit event
      formEl.addEventListener("submit", function (e) {
        e.preventDefault();

        /*
        if (grecaptcha) {
          var recaptchaResponse = grecaptcha.getResponse();
          if (!recaptchaResponse) { // reCAPTCHA not clicked yet
            return false;
          }
        }*/

        var request = new XMLHttpRequest();

        request.addEventListener("load", function () {
          if (request.status === 302 || // CloudCannon redirects on success
              request.status == 200 ) { // Or testing showed that it didn't
            alert("Nachricht gesendet.");
          }
          else {
            alert("Fehler beim Senden der Nachricht. Bitte versuche es später nochmal.");
          }
          toggleModal(modalId, 'off');
        });

        request.open(formEl.method, formEl.action);
        request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        request.send(getFormDataString(formEl));
      });
    })();
  }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBH1tkp47YpmWonbvUZiTBcUogkBuTjFgk&callback=initMap"></script>


