---
title: Equippers
head: >-
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="0">
locations:
  - title: Berlin
    storage_key: berlin
    goes_to: /berlin
    background_image: /uploads/berlin-1440.jpg
    background_image_position:
  - title: Flensburg
    storage_key: flensburg
    goes_to: https://equippers-flensburg.de
    background_image: /uploads/flensburg-1440.jpg
    background_image_position: center 65%
  - title: Mainz
    storage_key: mainz
    goes_to: https://mainz.equippers.de
    background_image: /uploads/mainz-hero.jpg
    background_image_position:
startups:
  - title: München
    storage_key: muenchen
    goes_to: /muenchen
    background_image: /uploads/munich-2019-1440.jpg
    background_image_position: center 60%
---

<section class="landing-logo">
	{% include logo.html %}
</section>

<section class="landing dark">
	{% for location in page.locations %}
		<a
			{% if location.goes_to %}href="{{ location.goes_to }}"{% endif %}
			class="text-center overlay"
			style="
				background-image: url('{{ location.background_image }}');
				{% if location.background_image_position %}background-position: {{ location.background_image_position }}{% endif %}
			"
		>
			<h1 class="uppercase no-margin">{{ location.title }}</h1>
			{% if location.sub_title %}<p class="no-margin">{{ location.sub_title }}</p>{% endif %}
		</a>
	{% endfor %}

	<div id="startups">
		<div class="text-center"><h1 class="uppercase no-margin">Startups</h1></div>

		{% for location in page.startups %}
			<a
				{% if location.goes_to %}href="{{ location.goes_to }}"{% endif %}
				class="text-center overlay"
				style="
					background-image: url('{{ location.background_image }}');
					{% if location.background_image_position %}background-position: {{ location.background_image_position }}{% endif %}
				"
			>
				<h4 class="uppercase no-margin">{{ location.title }}</h4>
			</a>
		{% endfor %}
	</div>
</section>

<script>
	const startupsDiv = document.querySelector('#startups > div');
	startupsDiv.addEventListener('click', () => startupsDiv.classList.add('clicked'));
</script>
