{% assign parts = page.url | split: "/" | shift | pop %}
{% assign partialUrl = "" %}

<ul class="breadcrumbs">
  {% if page.path contains "_posts/" %}
    {% assign parts = parts | pop | pop %}
  {% endif %}

  <li><a href="{{ site.url }}">Home</a></li>

  {% for part in parts %}
    {% assign partialUrl = partialUrl | append: "/" | append: part %}
    <li><a href="{{ site.url }}{{ partialUrl }}">{{ part | titlecase }}</a></li>
  {% endfor %}

  {% if page.url != "/" %}
    <li><a href="{{ site.url }}{{ page.url }}">
      {% if parts.size > 0 %}{{ page.title }}{% else %}{{ page.url | split: "/" | last | titlecase }}{% endif %}
    </a></li>
  {% endif %}
</ul>
