h2
  clear: left

div.clear
  clear: left

div.speaker
  margin-bottom:2rem
  margin-top:2rem
  overflow:auto
  p
    margin: 0

iframe.youtube
  margin-bottom:2rem;
  @media (min-width: $tablet-breakpoint)
    height:540px;

img.img_left
  float:left;
  clear:both;
  margin-right:0.5rem;
  @media (max-width: $tablet-breakpoint)
    width:100%