.flourish
	ul.languages
		margin: 0
		padding: 0

		li
			list-style-type: none
			display: inline
			margin-right: 0.75em

			a
				text-decoration: none

				span
					text-decoration: underline

	table
		td
			vertical-align: top

	blockquote
		font-style: italic
		border-left: 6px solid $light-gray
		background: lighten($light-gray, 70%)
		border-radius: 3px
		margin: 1em 0
		padding: 1em

		strong
			font-size: 1.5em

		div
			display: block
			text-align: right

	img.speaker
		width: 100%

		@media(min-width: 30em)
			float: left
			width: 15em
			height: @width
			object-fit: cover
			margin-right: 0.5em
			margin-bottom: @margin-right
