.flourish
	ul.languages
		margin: 0
		padding: 0

		li
			list-style-type: none
			display: inline
			margin-right: 0.75em

			a
				text-decoration: none

				span
					text-decoration: underline

	table
		td
			vertical-align: top

	blockquote
		font-style: italic

		div
			float: left

	img.speaker
		width: 100%

		@media(min-width: 30em)
			float: left
			width: 15em
			height: @width
			object-fit: cover
			margin-right: 0.5em
			margin-bottom: @margin-right
