.card
	addBorderRadius()

	.img
		padding-bottom: 56.25% // 16:9
		background-color: $medium-gray
		background-size: cover
		background-position: center
		border-radius: @border-radius @border-radius 0 0

	&.image-only .img
		border-radius: @border-radius

	.title
		padding: 1em
		border: 1px solid #ddd
		border-top: none
		border-radius: 0 0 @border-radius @border-radius
		background-color: #eee
		text-align: center
		text-transform: uppercase
		@extends .black-font

		.description
			@extends .light-font
			text-transform: none
			font-size: 0.75em

	.subtitle
		@extends .gray-color
		@extends .text-center
		padding-top: 0.25em

a.card
	text-decoration: none

	.title
		addTransition(background-color)

	&:hover .title
		background-color: darken(#eee, 10%)

	.img
		addTransition(filter)

	&:hover .img
		filter: saturate(120%)
