---
title: Flourish - Conferenza delle donne 2020 presso Equippers Berlin
aliases:
  - /flourish/it
hero:
  html: >-
    <h1>Flourish - Conferenza delle donne</h1>
    <p><i>06. - 07.03.2020</i></p>
    <a target="_blank" href="https://flourish20.eventbrite.de" class="green button" style="font-size:0.675em;">Registrati ora su</a>
    <a href="#info" class="green button" style="font-size:0.675em;">Informazioni</a>
    <a href="#restaurants" class="green button" style="font-size:0.675em;">Ristorante</a>
  image: /uploads/sistas-hero.jpg
restaurants:
  -
    name: "Conte Ristorante"
    website: <a href="http://www.dal-conte.de/">dal-conte.de</a>
    phone: "03076890219"
    lat: 52.4316169
    lng: 13.3381728
    type: Italienisch
    address: <a href="https://goo.gl/maps/GQPDKSoZag2zMYM1A">Kaiser-Wilhelm-Straße 31, 12247</a>
  -
    name: "Ristorante Pizzeria La Dolce Vita"
    website: <a href="https://pizzerialadolcevitaberlin.eatbu.com/?lang=en">eatbu.com</a>
    phone: "03076807704"
    lat: 52.4287296
    lng: 13.3301775
    type: Italienisch
    address: <a href="https://goo.gl/maps/QcWuekEpjPCGWpVR8">Lorenzstraße 72, 12209</a>
  -
    name: "Ristorante Pacini"
    phone: "03076885730"
    lat: 52.429404
    lng: 13.3224026
    type: Italienisch
    address: <a href="https://goo.gl/maps/3iNkQpb355uRRJWr7">Königsberger Str. 7, 12207</a>
  -
    name: "Yogi-Haus Lichterfelde"
    website: <a href="http://restaurant-yogihaus.de/">restaurant-yogihaus.de</a>
    phone: "03077208923"
    lat: 52.4289413
    lng: 13.3299111
    type: Asiatisch
    address: <a href="https://goo.gl/maps/3tMHevcAvyyTxQqQ7">Lankwitzer Str. 5, 12209</a>
  -
    name: "Nammi Berlin Lichterfelde Ost"
    website: <a href="https://www.nammi-berlin.de/">nammi-berlin.de</a>
    phone: "03055208969"
    lat: 52.4264867
    lng: 13.3266673
    type: Asiatisch
    address: <a href="https://goo.gl/maps/G4knSWX2z4MCURs96">Oberhofer Weg 12, 12209</a>
  -
    name: "My-Asiaküche"
    website: <a href="https://www.xn--myasiakche-geb.de/">myasiaküche.de</a>
    phone: "0307734197"
    lat: 52.4277852
    lng: 13.3251049
    type: Asiatisch
    address: <a href="https://goo.gl/maps/xqfUoLMr4JB83zbQ9">Morgensternstraße 30, 12207</a>
  -
    name: "Piroschka"
    website: <a href="http://www.angrusti.de/piroschka/">angrusti.de</a>
    phone: "0307727018"
    lat: 52.4288422
    lng: 13.3250953
    type: Kroatisch
    address: <a href="https://goo.gl/maps/1KPFf8hKrC1DRNxJ9">Jungfernstieg 29, 12207</a>
  -
    name: "Adria Grill"
    website: <a href="http://www.adria-grill-berlin.de/">adria-grill-berlin.de</a>
    phone: "0307725895"
    lat: 52.4338606
    lng: 13.3417665
    type: Kroatisch
    address: <a href="https://goo.gl/maps/aSGs3nfs8VA5ZXSj6">Kaiser-Wilhelm-Straße 55, 12247</a>
  -
    name: "Kreuzkirche Lankwitz"
    lat: 52.429507
    lng: 13.3366854
    type: Chiesa
    address: <a href="https://goo.gl/maps/F2YvRAgvNtfv7PQF9">Zietenstraße 11, 12249</a>
---

<section
  class="dark hero flourish"
  style="position: relative; overflow:hidden; background-image: url('{{ page.hero.image }}');"
>
  <div style="position:absolute; width: 100%; padding-bottom:56.25%; z-index:0;">
    <div style="position:absolute; top: 0; left: 0; width:100%; height:100%; border:0;">
      <div id="player"></div>
    </div>
  </div>
  <div style="position:absolute; width:100%; height:100%; z-index:1; background-color:rgba(0,0,0,0.6);"></div>
  <div class="content text-center uppercase" style="z-index:2;">
    {{ page.hero.html }}
  </div>
</section>

<article class="flourish">
  <section class="content">
    <p class="no-margin-top">Language: <a href="/berlin/flourish">DE</a> | <a href="/berlin/flourish/en">EN</a> | <a href="/berlin/flourish/it">IT</a></p>

    {% include youtube-video.html id="of0DXvWS4hY" cc_load_policy="1" cc_lang_pref="it" %}

    <h2>Carissime</h2>
    <p>Non vediamo l'ora di vedervi alla nostra festa "Flourish 2020". Desideriamo vedere un senso ancora maggiore di appartenenza europea alla prossima Conferenza delle donne.</p>
    <p>Desiderio - Di che cosa hai sete? Che cosa tende a soddisfare il desiderio della tua anima, del tuo corpo e della tua mente? Siamo "radicati" nell'amore di Dio o stiamo cercando di intorpidire il nostro dolore con le cose e le persone, ed implorare poche briciole d'amore ovunque andiamo?</p>
    <p>Il Salmo 92 promette che fioriamo come un albero sano se rimaniamo radicati nella casa di Dio. Possiamo vivere appagati e tuttavia raggiungere nuove vette.</p>
    <p>Relatori ispiratori, lode, presenza di Dio, divertimento e relazioni interpersonali: cosa non amare di tutto questo? Ci sono anche alcune nuove iniziative aggiunte a questo mix.</p>
    <p>Vieni a vederlo. È bello riunirsi, farsi curare in sua presenza ed approfondire sempre più la relazione spiritule con Dio.</p>

    <h2>RELATRICI</h2>
    <p>
      <img class="speaker" src="/uploads/flourish/helen-2020.jpg" alt="Picture of Pastor Helen Monk">
      Il <strong>pastore Helen Monk</strong> (Nuova Zelanda) fa parte da tanto tempi della famiglia Equippers Berlin.  Fu la prima nel movimento di Equippers a ricevere una passione divina per la Germania.  Ha persino iniziato ad imparare la lingua.  Ama venire qui - e siamo felicissimi di  averla con noi.  Benedetta come guerriera di preghiera dotata di un forte dono profetico, predica in tutto il mondo. Non vediamo l'ora che tu la incontri e sia benedetta dai suoi doni.  Lei e suo marito, Pastor Bruce, hanno fondato la rete Equippers e stanno ancora guidando la sua crescita in varie parti del mondo.  Il pastore Helen continua a lanciare nuovi servizi e a trasformarli in qualcosa di meraviglioso per poi donarli agli altri.
    </p>
    <p>
      <img class="speaker" src="/uploads/flourish/martha-2020.jpg" alt="Picture of Pastor Martha Toth">
      Il <strong>pastore Marta Toth</strong> (Slovacchia) e suo marito il pastore Miro sono stati a lungo associati con Equippers.  In Slovacchia, hanno già fondato molte congregazioni e una scuola biblica e recentemente Equippers Start-Up Budapest in Ungheria.  Marta riceve inviti da vicino e da lontano per usare il suo dono di predicazione.  Siamo molto felici di poter finalmente invitare Marta a Flourish.  Il figlio maggiore si è appena sposato e Marta tiene insieme la famiglia quando viaggiano insieme in tutto il mondo.
    </p>
    <p>
      <img class="speaker" src="/uploads/miriam-600.jpg" alt="Picture of Pastor Miriam Eisen">
      Il <strong>pastore Miriam Eisen</strong> (Danimarca) vive con il marito Pastor Jürgen e i loro quattro figli a Berlino.  Prima di trasferirsi nella capitale nel 2010 per fondare Equippers Berlin, vivevano in varie nazioni europee.  Il cuore creativo di Miriam batte prima per Dio, per onorarlo con musica meravigliosa e vedere le donne prosperare nella loro relazione con Lui.  Il suo sogno è un esercito di donne forti e radicate che insieme, attraverso la potenza e l'amore di Dio, influenzano il loro ambiente per Dio.  Con questa visione, ha lanciato Flourish nel 2016, una conferenza che benedice il mondo cristiano europeo.
    </p>

    <h2>L'AMORE DÀ</h2>
    <p>
      L'amore è vitale - questo è più evidente nella relazione madre-figlio.  Ma non tutte le donne vogliono rimanere incinte.  Di fronte a circostanze difficili, molti sono disperati per la loro gravidanza.  In tale crisi, sono necessari consigli onesti e un solido sostegno.  Questo è esattamente ciò che l'organizzazione "Pro Femina" fa con il suo <a target="_blank" href="https://www.1000plus.net">"Progetto 1000plus"</a>. Con Flourish, vogliamo sostenere insieme il progetto in modo che le donne incinte possano prendere coraggio e scoprire come possono amare se stesse e il loro bambino.<br>
      "Pro Femina" ha lanciato la "campagna del biberon": l'obiettivo è quello di riempire un biberon di denaro, con la consulenza e il sostegno delle donne in gravidanza che lo hanno reso possibile.
    </p>
    <p>
        Qui puoi diventare creativo:<br>
        Quando ti registri a Flourish, fai clic su "Supporto 1000plus - ordina bottiglia".  Quindi "Pro Femina" ti invia il tuo "biberon 1000plus".<br>
        Nel frattempo, puoi iniziare a pianificare: come puoi raccogliere fondi e chi potrebbe aiutarti con il progetto?
    </p>
    <p>Ecco alcune idee pratiche:</p>
    <p>Facile da implementare:</p>
    <ul>
      <li>Vuoi disabituarti a qualcosa?  Ogni volta che riesci a resistere alla tua abitudine, getta una certa quantità di denari nel biberon e celebra la tua vittoria. </li>
      <li>Porta sempre il biberon nella tua borsa, chiedi una donazione quando se ne presenta l'occasione</li>
      <li>se hai figli: fai una donazione ogni volta che acquisti qualcosa di essenziale per i tuoi figli (come i pannolini), qualche euro o anche l'importo della spesa per la promozione del biberon</li>
      <li>Accedi a <a target="_blank" href="https://smile.amazon.de/">Smile.Amazon.de</a>, seleziona l'organizzazione "Pro Femina eV" e Amazon donerà ogni volta lo 0,5% del valore dell'acquisto alla "tua" organizzazione.</li>
    </ul>
    <p>Un piccolo sforzo in più:</p>
    <ul>
        <li>Prepara delizie e vendile nella tua comunità, nel quartiere, per strada, ...</li>
        <li>Offri servizi come babysitter, falciatura, lavaggio auto, per una donazione a 1000 plus (se hai figli:fatti aiutare!)</li>
        <li>Invita una "cena di beneficenza" privata o "bevi un buon caffè", coccola i tuoi ospiti con buon cibo e chiedi una donazione</li>
    </ul>
    <p>Usa i tuoi doni e ciò che ti dà gioia per dare alle donne incinte una nuova prospettiva!  E condividilo con noi e il mondo: pubblica le tue idee e foto con l'hashtag #liebeg # flourish2020 # 1000plus</p>
    <p>JQuindi porta il tuo biberon imbottito a Flourish 2020, dove lo consegneremo insieme a "Pro Femina".</p>
    <p><i>Informativa sulla privacy:</i> dichiarando di supportare "1000plus", accetti che passeremo il tuo nome e indirizzo a "Pro Femina".  Puoi utilizzare le tue informazioni solo come parte di questa promozione per ottenere il biberon e, se lo desideri, una ricevuta di donazione in un secondo momento.</p>

    <h2>ONORI FIORENTI</h2>
    <p>Come Equippers-Sistas, apprezziamo l'onore degli altri.  Se conosci una donna che ha superato l'incredibile ed è rimasta forte nella fede, vogliamo ascoltare la sua storia.  Per nominare qualcuno, inviaci una e-mail a <a href="mailto:sistas@equippers.de">sistas@equippers.de</a> fino al 10/02/2020. <a target="_blank" href="https://www.eventbrite.de/e/flourish-frauenkonferenz-2020-tickets-65242068784">Qui</a> puoi anche donare in modo che possiamo davvero benedire insieme i vincitori: Fai clic su "Biglietti" e inserisci "Dona / Flourish Honours" l'importo che desideri donare.</p>

    <h2 id="info">INFORMAZIONI</h2>
    <table>
      <tr>
        <td>Quando:</td>
        <td>06. - 07.03.2020</td>
      </tr>
      <tr>
        <td>Luogo:</td>
        <td>Kreuzkirche Lankwitz (EMK)<br>Zietenstrasse 11<br>12249 Berlino</td>
      </tr>
      <tr>
        <td>Prezzi:</td>
        <td>43,00 € (fino al 31.01.2020)<br>53,00 € (dal 01.02.2020)</td>
      </tr>
      <tr>
        <td>Studenti:</td>
        <td>27,00 € (fino al 31.01.2020)<br>37,00 € (dal 01.02.2020)</td>
      </tr>
      <tr>
        <td>Biglietti per famiglie e gruppi:</td>
        <td>tutte le informazioni sui biglietti per famiglie e gruppi su https://<a target="_blank" href="https://flourish20.eventbrite.de">flourish20.eventbrite.de</a></td>
      </tr>
      <tr>
        <td>Assistenza all'infanzia:</td>
        <td>da 2,5 anni, durante le sessioni viene offerta assistenza all'infanzia. Si prega di registrare i vostri figli tramite il modulo di registrazione.</td>
      </tr>
    </table>

    <div style="margin: 3em 0 2em">
      <a target="_blank" href="https://flourish20.eventbrite.de" class="green button">Registrati ora su</a>
    </div>

    {% include restaurant-map.html header="Ristorante" cm="mappa centrale" %}

    <blockquote>
      e faccia sì che Cristo abiti per mezzo della fede nei vostri cuori, perché, radicati e fondati nell’amore, siate resi capaci di abbracciare con tutti i santi quale sia la larghezza, la lunghezza, l’altezza e la profondità dell’amore di Cristo
      <br>
      <br>
      <div>— Efesini. 3:17-18</div>
    </blockquote>
  </section>
</article>

<script>
function onYouTubeIframeAPIReady() {
  new YT.Player('player', {
    videoId: 'AvryJCgoGck',
    playerVars: {
      autoplay: 1,
      disablekb: 1,
      controls: 0,
      modestbranding: 1,
      loop: 1,
      mute: 1,
      playlist: 'AvryJCgoGck'
    }
  });
}

(function() {
  if (!matchMedia('(min-width: 60em)').matches) {
    return;
  }

  // load youtube iframe api asynchronously
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
}());
</script>

{% include mapscript.html nt="Nome" pt="Telefono" wt="Sito web" tt="Genere" at="Indirizzo" ct="Chiesa"%}
