---
title: Equippers Startup München
hero:
  html: >-
    <h1>Equippers Start-Up München</h1>
    <a class="green button" style="font-size:0.675em;font-weight:600" href="#newsletter">Bleib auf dem Laufenden</a>
  image: /uploads/munich-2019-1440.jpg
mailchimp_options:
  action: https://equippers.us17.list-manage.com/subscribe/post?u=53e3fada419ead2b99592a5b7&amp;id=d643cbbe24
  fake_input_name: b_53e3fada419ead2b99592a5b7_d643cbbe24
google_maps_iframe_src: https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2662.0144730785787!2d11.56038!3d48.1485262!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479e75e48420f3b1%3A0xc6e33fb2ee469982!2sNeues%20Rottmann%20Kino!5e0!3m2!1sen!2sde!4v1622103271132!5m2!1sen!2sde
---

{% include hero.html options=page.hero %}

<section class="padding-vertical">
  <div class="editable content text-center">
    <h3>Hier entsteht Equippers M&uuml;nchen - Eine Kirche anders als du denkst!</h3>
    <p>Wir tr&auml;umen von einer lebendigen Kirche mitten in der Gesellschaft. Aktuell treffen wir uns jeden Sonntag ab 17:00 Uhr im <a href="https://goo.gl/maps/2ndMBaCniqTjG7Kv9">Neuen Rottmann Kino in der Rottmannstra&szlig;e 15, 80333 M&uuml;nchen</a>. Wenn du uns kennen lernen oder mehr &uuml;ber unsere Story und die Vision erfahren m&ouml;chtest, laden wir dich herzlich ein, vorbei zu schauen und dich f&uuml;r unseren Newsletter einzutragen.</p>
    <p>Wir freuen uns auf dich und das Abenteuer, das vor uns liegt.</p>
  </div>
  <div class="content"></div>
</section>

<section>
  <div class="editable content text-center padding-bottom">
    <h2>F&uuml;r aktuelle Termine zu unseren Treffen trag dich f&uuml;r den Newsletter ein oder folge uns auf Instagram.</h2>
    <p><a class="green button" style="font-size:0.675em;font-weight:600" href="#newsletter">Newsletter</a> <a class="yellow button" style="font-size:0.675em;font-weight:600" target="_blank" href="https://www.instagram.com/equippersstartupmuenchen/">Instagram</a></p>
  </div>

  <iframe src="{{page.google_maps_iframe_src}}" width="600" height="320" frameborder="0" style="display:block;border:0;width:100%;" allowfullscreen=""></iframe>
</section>

<section id="newsletter" class="light-gray padding-vertical">
  <div class="editable content">
    <p>Willst du mehr wissen? Lass uns deine Email-Adresse da und wir schicken dir alle Infos zu unseren n&auml;chsten Treffen.</p>
  </div>
</section>

{% include newsletter.html options=page.mailchimp_options %}

<script>
  document.querySelectorAll('a[href="#newsletter"]').forEach(link => link.addEventListener('click', e => {
    e.preventDefault();
    document.querySelector('#newsletter').scrollIntoView({ behavior: 'smooth' });
  }));
</script>
