---
title: Equippers Startup München
hero:
  html: >-
    <h1>Equippers Start-Up München</h1>
    <a class="green button" style="font-size:0.675em;font-weight:600" href="#newsletter">Bleib auf dem Laufenden</a>
  image: /uploads/munich-2019-1440.jpg
mailchimp_options:
  action: https://equippers.us17.list-manage.com/subscribe/post?u=53e3fada419ead2b99592a5b7&amp;id=d643cbbe24
  fake_input_name: b_53e3fada419ead2b99592a5b7_d643cbbe24
---

{% include hero.html options=page.hero %}

<section class="padding-vertical">
  <div class="editable content text-center">
    <h3>
      Hier entsteht Equippers München - Eine Kirche anders als du denkst!
    </h3>
    <p>
      Wir träumen von einer lebendigen Kirche mitten in der Gesellschaft. Jeden zweiten Sonntag treffen wir uns ab 15:30 Uhr in der <a target="_blank" href="https://goo.gl/maps/z3AgqR1vm17X8E7z9">Flössergasse 8</a>. Wenn du uns kennen lernen oder mehr über unsere Story und die Vision erfahren möchtest, laden wir dich herzlich ein, vorbei zu schauen und dich für unseren Newsletter einzutragen.
    </p>
    <p>
      Wir freuen uns auf dich und das Abenteuer, das vor uns liegt.
    </p>
  </div>
  <div class="content"></div>
</section>

<section class="">
	<div class="editable content text-center padding-bottom">
		<h2>Jeden 2. Sonntag | 15:30 Uhr</h2>
	</div>

	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10657.146773362516!2d11.53751!3d48.104705!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf8b16d864c3c6594!2sEquippers%20M%C3%BCnchen!5e0!3m2!1sen!2sde!4v1574783521290!5m2!1sen!2sde" width="600" height="320" frameborder="0" style="display:block;border:0;width:100%;" allowfullscreen=""></iframe>
</section>

<section id="newsletter" class="light-gray padding-vertical">
  <div class="editable content">
    <p>Willst du mehr wissen? Lass uns deine Email-Adresse da und wir schicken dir alle Infos zu unseren nächsten Treffen.</p>
  </div>
</section>

{% include newsletter.html options=page.mailchimp_options %}

<script>
	document.querySelector('a[href="#newsletter"]').addEventListener('click', e => {
		e.preventDefault();
		document.querySelector('#newsletter').scrollIntoView({ behavior: 'smooth' });
	});
</script>
